Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: (any of: ^.*\.py\.tpl$, ^.*\.py$, ^tools/gate/playbooks/osh-bandit.yaml$) or (any of: ^.*\.py\.tpl$, ^.*\.py$)
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-federated-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-local-storage: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-lint: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-lint-osh: any of: ^helm-toolkit/.*$
  openstack-helm-infra-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-infra-bandit.yaml$
  openstack-helm-infra-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-metacontroller: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-rook: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-mariadb-operator: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$

Manila: Support uWSGI for API server
  manila/Chart.yaml
  manila/templates/bin/_manila-api.sh.tpl
  manila/templates/configmap-etc.yaml
  manila/templates/deployment-api.yaml
  manila/values.yaml
  releasenotes/notes/manila.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Magnum: Support uWSGI for API server
  magnum/Chart.yaml
  magnum/templates/bin/_magnum-api.sh.tpl
  magnum/templates/configmap-etc.yaml
  magnum/templates/deployment-api.yaml
  magnum/values.yaml
  releasenotes/notes/magnum.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Octavia: Support uWSGI for API server
  octavia/Chart.yaml
  octavia/templates/bin/_octavia-api.sh.tpl
  octavia/templates/configmap-etc.yaml
  octavia/templates/deployment-api.yaml
  octavia/values.yaml
  releasenotes/notes/octavia.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Heat: Support uWSGI for API server
  heat/Chart.yaml
  heat/templates/bin/_heat-api.sh.tpl
  heat/templates/bin/_heat-cfn.sh.tpl
  heat/templates/configmap-etc.yaml
  heat/templates/deployment-api.yaml
  heat/templates/deployment-cfn.yaml
  heat/values.yaml
  releasenotes/notes/heat.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Include values_overrides for OpenStack components
  tools/deployment/keystone-auth/070-keystone.sh
  tools/deployment/mariadb-operator-cluster/070-keystone.sh
  tools/deployment/openstack-support-rook/130-cinder.sh
  tools/deployment/openstack-support/130-cinder.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Update Ceph images to patched 18.2.2 and restore debian-reef repo
  ceph-adapter-rook/Chart.yaml
  ceph-adapter-rook/values.yaml
  ceph-client/Chart.yaml
  ceph-client/values.yaml
  ceph-mon/Chart.yaml
  ceph-mon/values.yaml
  ceph-osd/Chart.yaml
  ceph-osd/values.yaml
  ceph-provisioners/Chart.yaml
  ceph-provisioners/values.yaml
  ceph-rgw/Chart.yaml
  ceph-rgw/values.yaml
  elasticsearch/Chart.yaml
  elasticsearch/values.yaml
  gnocchi/Chart.yaml
  gnocchi/values.yaml
  libvirt/Chart.yaml
  libvirt/values.yaml
  releasenotes/notes/ceph-adapter-rook.yaml
  releasenotes/notes/ceph-client.yaml
  releasenotes/notes/ceph-mon.yaml
  releasenotes/notes/ceph-osd.yaml
  releasenotes/notes/ceph-provisioners.yaml
  releasenotes/notes/ceph-rgw.yaml
  releasenotes/notes/elasticsearch.yaml
  releasenotes/notes/gnocchi.yaml
  releasenotes/notes/libvirt.yaml
  roles/deploy-env/tasks/prerequisites.yaml
  tools/gate/deploy-k8s.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Designate: Support uWSGI for API server
  designate/Chart.yaml
  designate/templates/bin/_designate-api.sh.tpl
  designate/templates/configmap-etc.yaml
  designate/templates/deployment-api.yaml
  designate/values.yaml
  releasenotes/notes/designate.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Fixing rolebindings generation for init container
  openvswitch/Chart.yaml
  openvswitch/templates/daemonset.yaml
  releasenotes/notes/openvswitch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Update for future ingress improvements
  neutron/Chart.yaml
  neutron/templates/bin/_neutron-openvswitch-agent-init.sh.tpl
  releasenotes/notes/neutron.yaml
  tools/deployment/component/compute-kit/compute-kit.sh
  tools/deployment/component/heat/heat.sh
  zuul.d/nodesets.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Fix registry bootstrap values
  registry/Chart.yaml
  registry/values.yaml
  releasenotes/notes/registry.yaml
  tools/deployment/common/010-deploy-docker-registry.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

[rook-ceph] Add a script to migrate Ceph clusters to Rook
  tools/deployment/ceph/migrate-to-rook-ceph.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Bump containerd sandbox image from 3.6 to 3.9
  roles/deploy-env/files/containerd_config.toml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Update ovn controller init script
  ovn/Chart.yaml
  ovn/templates/bin/_ovn-controller-init.sh.tpl
  ovn/templates/daemonset-controller.yaml
  ovn/values.yaml
  releasenotes/notes/ovn.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add custom pod annotations helm-toolkit snippet
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/snippets/_custom_pod_annotations.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Refactor deploy-env role
  roles/deploy-env/README.md
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/files/calico_patch.yaml
  roles/deploy-env/files/cluster_resolv.conf
  roles/deploy-env/files/kubeadm_config.yaml
  roles/deploy-env/files/nginx_tcp_proxy.conf
  roles/deploy-env/files/resolv.conf
  roles/deploy-env/tasks/calico.yaml
  roles/deploy-env/tasks/client_cluster_tunnel.yaml
  roles/deploy-env/tasks/containerd.yaml
  roles/deploy-env/tasks/control-plane.yaml
  roles/deploy-env/tasks/coredns_resolver.yaml
  roles/deploy-env/tasks/k8s_client.yaml
  roles/deploy-env/tasks/k8s_common.yaml
  roles/deploy-env/tasks/k8s_control_plane.yaml
  roles/deploy-env/tasks/main.yaml
  roles/deploy-env/tasks/metallb.yaml
  roles/deploy-env/tasks/openstack_metallb_endpoint.yaml
  roles/deploy-env/tasks/openstack_provider_gateway.yaml
  roles/deploy-env/tasks/prerequisites.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

[rook-ceph] Document the procedure for migrating Ceph to Rook
  doc/source/troubleshooting/index.rst
  doc/source/troubleshooting/migrate-ceph-to-rook.rst
Due: none

Ceilometer: Enable custom annotations
  ceilometer/Chart.yaml
  ceilometer/templates/daemonset-compute.yaml
  ceilometer/templates/daemonset-ipmi.yaml
  ceilometer/templates/deployment-api.yaml
  ceilometer/templates/deployment-central.yaml
  ceilometer/templates/deployment-collector.yaml
  ceilometer/templates/deployment-notification.yaml
  ceilometer/values_overrides/annotations.yaml
  releasenotes/notes/ceilometer.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Cinder: Enable custom annotations
  cinder/Chart.yaml
  cinder/templates/deployment-api.yaml
  cinder/templates/deployment-backup.yaml
  cinder/templates/deployment-scheduler.yaml
  cinder/templates/deployment-volume.yaml
  cinder/templates/secret-rabbitmq.yaml
  cinder/values_overrides/annotations.yaml
  releasenotes/notes/cinder.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Barbican: Enable custom annotations
  barbican/Chart.yaml
  barbican/templates/deployment-api.yaml
  barbican/values_overrides/annotations.yaml
  releasenotes/notes/barbican.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Bump RabbitMQ version 3.9.0 -> 3.13.0
  rabbitmq/values.yaml
  rabbitmq/values_overrides/2023.1-ubuntu_focal.yaml
  rabbitmq/values_overrides/2023.1-ubuntu_jammy.yaml
  rabbitmq/values_overrides/2023.2-ubuntu_jammy.yaml
  rabbitmq/values_overrides/yoga-ubuntu_focal.yaml
  rabbitmq/values_overrides/zed-ubuntu_focal.yaml
  rabbitmq/values_overrides/zed-ubuntu_jammy.yaml
  releasenotes/notes/rabbitmq.yaml
  zuul.d/jobs.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add custom secret annotations helm-toolkit snippet
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/snippets/_custom_secret_annotations.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Aodh: Enable custom annotations
  aodh/Chart.yaml
  aodh/templates/deployment-api.yaml
  aodh/templates/deployment-evaluator.yaml
  aodh/templates/deployment-listener.yaml
  aodh/templates/deployment-notifier.yaml
  aodh/values_overrides/annotations.yaml
  releasenotes/notes/aodh.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Rename dpdk job name to reflect Openstack version
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Cyborg: Enable custom annotations
  cyborg/Chart.yaml
  cyborg/templates/daemonset-agent.yaml
  cyborg/templates/deployment-api.yaml
  cyborg/templates/deployment-conductor.yaml
  cyborg/values_overrides/annotations.yaml
  releasenotes/notes/cyborg.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Designate: Enable custom annotations
  designate/Chart.yaml
  designate/templates/deployment-api.yaml
  designate/templates/deployment-central.yaml
  designate/templates/deployment-mdns.yaml
  designate/templates/deployment-producer.yaml
  designate/templates/deployment-sink.yaml
  designate/templates/deployment-worker.yaml
  designate/values_overrides/annotations.yaml
  releasenotes/notes/designate.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Glance: Enable custom annotations
  glance/Chart.yaml
  glance/templates/deployment-api.yaml
  glance/values_overrides/annotations.yaml
  releasenotes/notes/glance.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Pre-setup provider gateway using deploy-env role
  tools/deployment/common/heat-public-net-deployment.yaml
  tools/deployment/common/use-it.sh
  tools/deployment/component/common/openstack.sh
  tools/deployment/component/common/rabbitmq.sh
  tools/deployment/component/ovn/ovn.sh
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add Metallb job
  tools/deployment/common/ingress.sh
  tools/deployment/component/heat/heat.sh
  tools/deployment/component/horizon/horizon.sh
  tools/deployment/component/keystone/keystone.sh
  zuul.d/2023.2.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Heat: Enable custom annotations
  heat/Chart.yaml
  heat/templates/deployment-api.yaml
  heat/templates/deployment-cfn.yaml
  heat/templates/deployment-cloudwatch.yaml
  heat/templates/deployment-engine.yaml
  heat/values_overrides/annotations.yaml
  releasenotes/notes/heat.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Horizon: Enable custom annotations
  horizon/Chart.yaml
  horizon/templates/deployment.yaml
  horizon/values_overrides/annotations.yaml
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Ironic: Enable custom annotations
  ironic/Chart.yaml
  ironic/templates/deployment-api.yaml
  ironic/values_overrides/annotations.yaml
  releasenotes/notes/ironic.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Keystone: Enable custom annotations
  keystone/Chart.yaml
  keystone/templates/deployment-api.yaml
  keystone/values_overrides/annotations.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add 2024.1 jobs
  zuul.d/2024.1.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add 2023.2 Ubuntu Jammy overrides
  gnocchi/Chart.yaml
  gnocchi/templates/deployment-api.yaml
  gnocchi/values.yaml
  gnocchi/values_overrides/2023.2-ubuntu-jammy.yaml
  releasenotes/notes/gnocchi.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Magnum: Enable custom annotations
  magnum/Chart.yaml
  magnum/templates/deployment-api.yaml
  magnum/values_overrides/annotations.yaml
  releasenotes/notes/magnum.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Manila: Enable custom annotations
  manila/Chart.yaml
  manila/templates/deployment-api.yaml
  manila/templates/deployment-data.yaml
  manila/templates/deployment-scheduler.yaml
  manila/templates/deployment-share.yaml
  manila/values_overrides/annotations.yaml
  releasenotes/notes/manila.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add 2024.1 overrides
  libvirt/Chart.yaml
  libvirt/values_overrides/2024.1-ubuntu_jammy.yaml
  mariadb-backup/Chart.yaml
  mariadb-backup/values_overrides/2024.1-ubuntu_jammy.yaml
  mariadb-cluster/Chart.yaml
  mariadb-cluster/values_overrides/2024.1-ubuntu_jammy.yaml
  prometheus-mysql-exporter/Chart.yaml
  prometheus-mysql-exporter/value_overrides/2024.1-ubuntu_jammy.yaml
  rabbitmq/values_overrides/2024.1-ubuntu_jammy.yaml
  releasenotes/notes/libvirt.yaml
  releasenotes/notes/mariadb-backup.yaml
  releasenotes/notes/mariadb-cluster.yaml
  releasenotes/notes/prometheus-mysql-exporter.yaml
  releasenotes/notes/rabbitmq.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Masakari: Enable custom annotations
  masakari/Chart.yaml
  masakari/templates/daemonset-host-monitor.yaml
  masakari/templates/daemonset-instance-monitor.yaml
  masakari/templates/daemonset-process-monitor.yaml
  masakari/templates/deployment-api.yaml
  masakari/templates/deployment-engine.yaml
  masakari/templates/secret-rabbitmq.yaml
  masakari/values_overrides/annotations.yaml
  releasenotes/notes/masakari.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Mistral: Enable custom annotations
  mistral/Chart.yaml
  mistral/templates/deployment-api.yaml
  mistral/templates/deployment-executor.yaml
  mistral/values_overrides/annotations.yaml
  releasenotes/notes/mistral.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Monasca: Enable custom annotations
  monasca/Chart.yaml
  monasca/templates/daemonset-agent.yaml
  monasca/templates/deployment-agent.yaml
  monasca/templates/deployment-api.yaml
  monasca/templates/deployment-notification.yaml
  monasca/templates/deployment-persister.yaml
  monasca/values_overrides/annotations.yaml
  releasenotes/notes/monasca.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator
