Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

openstack-helm-bandit:
  timeout: 3600
  run: tools/gate/playbooks/osh-bandit.yaml
  required-projects:
  - openstack/openstack-helm-infra
  nodeset: openstack-helm-single-node

openstack-helm-horizon-train-ubuntu_bionic:
  parent: openstack-helm-chart-deploy
  vars:
    osh_params:
      openstack_release: train
      container_distro_name: ubuntu
      container_distro_version: bionic
    gate_scripts_relative_path: ../openstack-helm
    gate_scripts:
    - ./tools/deployment/common/install-packages.sh
  ...

openstack-helm-infra:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  ...

openstack-helm-infra-tenant-ceph:
  parent: openstack-helm-infra-functional
  nodeset: openstack-helm-five-node-ubuntu
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  ...

openstack-helm-infra-ubuntu:
  parent: openstack-helm-infra
  nodeset: openstack-helm-ubuntu

openstack-helm-infra-centos:
  parent: openstack-helm-infra
  nodeset: openstack-helm-centos

openstack-helm-infra-fedora:
  parent: openstack-helm-infra
  nodeset: openstack-helm-fedora

openstack-helm-infra-aio-logging:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-aio-monitoring:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-aio-network-policy:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-apparmor:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run: playbooks/osh-infra-upgrade-host.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-five-ubuntu:
  parent: openstack-helm-infra
  nodeset: openstack-helm-five-node-ubuntu

Add configurable liveness probe for elasticsearch client
  elasticsearch/Chart.yaml
  elasticsearch/templates/deployment-client.yaml
  elasticsearch/values.yaml
  releasenotes/notes/elasticsearch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update kubernetes registry to registry.k8s.io
  ceph-provisioners/Chart.yaml
  ceph-provisioners/values.yaml
  daemonjob-controller/Chart.yaml
  daemonjob-controller/values.yaml
  etcd/Chart.yaml
  etcd/values.yaml
  falco/Chart.yaml
  falco/values.yaml
  ingress/Chart.yaml
  ingress/values.yaml
  kube-dns/Chart.yaml
  kube-dns/values.yaml
  mariadb/Chart.yaml
  mariadb/values.yaml
  registry/Chart.yaml
  registry/values.yaml
  releasenotes/notes/ceph-provisioners.yaml
  releasenotes/notes/daemonjob-controller.yaml
  releasenotes/notes/etcd.yaml
  releasenotes/notes/falco.yaml
  releasenotes/notes/ingress.yaml
  releasenotes/notes/kube-dns.yaml
  releasenotes/notes/mariadb.yaml
  releasenotes/notes/registry.yaml
  tools/image-repo-overides.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable yoga compute-kit job
  tools/deployment/developer/common/170-setup-gateway.sh
  zuul.d/jobs-openstack-helm.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix ovn db persistence issue
  ovn/Chart.yaml
  ovn/templates/statefulset-nb-db.yaml
  ovn/templates/statefulset-sb-db.yaml
  releasenotes/notes/ovn.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix the issue that ovn metadata not work in muti-node enviroment
  neutron/Chart.yaml
  neutron/templates/bin/_neutron-ovn-metadata-agent.sh.tpl
  neutron/values.yaml
  neutron/values_overrides/ovn.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Upgrade openvswitch image to latest-ubuntu_focal to fix qos issue
  openvswitch/Chart.yaml
  openvswitch/values.yaml
  releasenotes/notes/openvswitch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Sync neutron db to ovn nb db when neutron-server start
  neutron/Chart.yaml
  neutron/values_overrides/ovn.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(nova): missing privilege separation directory for nova ssh
  nova/Chart.yaml
  nova/templates/bin/_ssh-start.sh.tpl
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Migrated pdb resource to policy/v1 API version
  gnocchi/Chart.yaml
  gnocchi/templates/pdb-api.yaml
  releasenotes/notes/gnocchi.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add pdf-docs tox env
  doc/source/conf.py
  tox.ini
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Migrated CronJob resource to batch/v1 API version
  gnocchi/Chart.yaml
  gnocchi/templates/cron-job-resources-cleaner.yaml
  releasenotes/notes/gnocchi.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fixed typo openstack-helm/nova/templates/deployment-spiceproxy.yaml that caused SPICE console deployment to break.
  nova/Chart.yaml
  nova/templates/deployment-spiceproxy.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph] Update Ceph to 17.2.6
  ceph-client/Chart.yaml
  ceph-client/values.yaml
  ceph-mon/Chart.yaml
  ceph-mon/values.yaml
  ceph-osd/Chart.yaml
  ceph-osd/values.yaml
  ceph-provisioners/Chart.yaml
  ceph-provisioners/values.yaml
  ceph-rgw/Chart.yaml
  ceph-rgw/values.yaml
  elasticsearch/Chart.yaml
  elasticsearch/values.yaml
  gnocchi/Chart.yaml
  gnocchi/values.yaml
  libvirt/Chart.yaml
  libvirt/values.yaml
  releasenotes/notes/ceph-client.yaml
  releasenotes/notes/ceph-mon.yaml
  releasenotes/notes/ceph-osd.yaml
  releasenotes/notes/ceph-provisioners.yaml
  releasenotes/notes/ceph-rgw.yaml
  releasenotes/notes/elasticsearch.yaml
  releasenotes/notes/gnocchi.yaml
  releasenotes/notes/libvirt.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-client] Strip any errors preceding pool properties JSON
  ceph-client/Chart.yaml
  ceph-client/templates/bin/pool/_init.sh.tpl
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix horizon tolerations
  horizon/Chart.yaml
  horizon/templates/pod-helm-tests.yaml
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update kubernetes to 1.27.1
  tools/gate/deploy-k8s.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix wrong doc title
  doc/source/install/developer/index.rst
Due: none

Include readiness check into liveness probe
  neutron/Chart.yaml
  neutron/templates/bin/_neutron-openvswitch-agent-liveness.sh.tpl
  neutron/templates/configmap-bin.yaml
  neutron/templates/daemonset-ovs-agent.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Revert "Update kubernetes to 1.27.1"
  tools/gate/deploy-k8s.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[osh-selenium] Upgrade image to latest-ubuntu_focal
  grafana/Chart.yaml
  grafana/templates/bin/_selenium-tests.py.tpl
  grafana/values.yaml
  nagios/Chart.yaml
  nagios/templates/bin/_selenium-tests.py.tpl
  nagios/values.yaml
  releasenotes/notes/grafana.yaml
  releasenotes/notes/nagios.yaml
  roles/deploy-selenium/tasks/main.yaml
  tools/gate/selenium/grafanaSelenium.py
  tools/gate/selenium/seleniumtester.py
  zuul.d/jobs.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update calico to v3.25.1
  calico/Chart.yaml
  calico/values.yaml
  releasenotes/notes/calico.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

title: Update get_notification_transport
  nova/Chart.yaml
  nova/templates/bin/_health-probe.py.tpl
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Configure keystone auth credentials for placement in neutron
  neutron/Chart.yaml
  neutron/templates/configmap-etc.yaml
  neutron/values.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

title: Update oslo_messaging_RPCClient
  nova/Chart.yaml
  nova/templates/bin/_health-probe.py.tpl
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add Zed test jobs
  zuul.d/jobs-openstack-helm.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable Zed compute-kit and cinder jobs
  barbican/Chart.yaml
  barbican/values_overrides/zed-ubuntu_focal.yaml
  cinder/Chart.yaml
  cinder/values_overrides/zed-ubuntu_focal.yaml
  glance/Chart.yaml
  glance/values_overrides/zed-ubuntu_focal.yaml
  heat/Chart.yaml
  heat/values_overrides/zed-ubuntu_focal.yaml
  horizon/Chart.yaml
  horizon/values_overrides/zed-ubuntu_focal.yaml
  keystone/Chart.yaml
  keystone/values_overrides/zed-ubuntu_focal.yaml
  manila/Chart.yaml
  manila/values_overrides/zed-ubuntu_focal.yaml
  neutron/Chart.yaml
  neutron/values_overrides/zed-ubuntu_focal.yaml
  nova/Chart.yaml
  nova/values_overrides/zed-ubuntu_focal.yaml
  placement/Chart.yaml
  placement/values_overrides/zed-ubuntu_focal.yaml
  releasenotes/notes/barbican.yaml
  releasenotes/notes/cinder.yaml
  releasenotes/notes/glance.yaml
  releasenotes/notes/heat.yaml
  releasenotes/notes/horizon.yaml
  releasenotes/notes/keystone.yaml
  releasenotes/notes/manila.yaml
  releasenotes/notes/neutron.yaml
  releasenotes/notes/nova.yaml
  releasenotes/notes/placement.yaml
  zuul.d/jobs-openstack-helm.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[helm] Upgrade Helm to version 3.12.0
  roles/build-helm-packages/defaults/main.yml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

replace scheduler.alpha.kubernetes.io/critical-pod with priorityClassName
  calico/Chart.yaml
  calico/templates/daemonset-calico-etcd.yaml
  calico/templates/daemonset-calico-node.yaml
  calico/templates/deployment-calico-kube-controllers.yaml
  calico/templates/job-calico-settings.yaml
  releasenotes/notes/calico.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix grafana job deployment condition
  grafana/Chart.yaml
  grafana/templates/job-run-migrator.yaml
  grafana/values_overrides/sqlite3.yaml
  releasenotes/notes/grafana.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove PodSecurityPolicy
  namespace-config/Chart.yaml
  namespace-config/templates/psp-rbac.yaml
  namespace-config/values.yaml
  podsecuritypolicy/.helmignore
  podsecuritypolicy/Chart.yaml
  podsecuritypolicy/requirements.yaml
  podsecuritypolicy/templates/podsecuritypolicy.yaml
  podsecuritypolicy/values.yaml
  releasenotes/config.yaml
  releasenotes/notes/namespace-config.yaml
  releasenotes/notes/podsecuritypolicy.yaml
  tools/deployment/podsecuritypolicy/000-install-packages.sh
  tools/deployment/podsecuritypolicy/005-deploy-k8s.sh
  tools/deployment/podsecuritypolicy/006-config-k8s-psp.sh
  tools/deployment/podsecuritypolicy/007-podsecuritypolicy.sh
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update contributing doc
  doc/source/contributor/contributing.rst
Due: none

Allow custom loopback devices in multinode scripts
  tools/deployment/multinode/030-ceph.sh
  tools/gate/playbooks/multinode-deploy-cinder.yaml
  tools/gate/playbooks/vars.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

title: Update oslo_messaging_RPCClient and get_rpc_transport in neutron
  neutron/Chart.yaml
  neutron/templates/bin/_health-probe.py.tpl
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Use --ignore-installed while install pip packages for dev env
  tools/gate/devel/start.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove duplicated argument when running a liveness check
  neutron/Chart.yaml
  neutron/templates/bin/_neutron-openvswitch-agent-liveness.sh.tpl
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add buffer to wait for ovs pid file
  openvswitch/Chart.yaml
  openvswitch/templates/bin/_openvswitch-vswitchd.sh.tpl
  releasenotes/notes/openvswitch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[osh-selenium] Migrate deprecated functions
  tools/gate/selenium/seleniumtester.py
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-kubernetes-keystone-auth: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-deploy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-uuid: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-passwords: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-airship-divingbell: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-podsecuritypolicy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
