Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-kubernetes-keystone-auth: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-deploy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-uuid: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-passwords: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-airship-divingbell: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-podsecuritypolicy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$

rabbitmq: Make helm test work with TLS
  rabbitmq/Chart.yaml
  rabbitmq/templates/bin/_rabbitmq-test.sh.tpl
  rabbitmq/templates/pod-test.yaml
  releasenotes/notes/rabbitmq.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

docs: Update Freenode to OFTC
  README.rst
  doc/source/contributor/contributing.rst
Due: none

doc(ovs): fixes doc
  doc/source/install/developer/deploy-ovs-dpdk.rst
Due: none

docs: Update Freenode to OFTC
  README.rst
  doc/source/contributor/contributing.rst
  doc/source/troubleshooting/index.rst
Due: none

Barbican: Add conditional wrapper to helm hook
  barbican/Chart.yaml
  barbican/templates/job-bootstrap.yaml
  barbican/templates/job-db-init.yaml
  barbican/templates/job-db-sync.yaml
  barbican/templates/job-image-repo-sync.yaml
  barbican/templates/job-ks-endpoints.yaml
  barbican/templates/job-ks-service.yaml
  barbican/templates/job-ks-user.yaml
  barbican/templates/job-rabbit-init.yaml
  barbican/values.yaml
  releasenotes/notes/barbican.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add openstack_enable_password_retrieve variable in horizon value
  horizon/Chart.yaml
  horizon/values.yaml
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Barbican: Add support for master KEK rotation
  barbican/Chart.yaml
  barbican/templates/bin/_db-sync.sh.tpl
  barbican/templates/bin/_simple_crypto_kek_rewrap.py.tpl
  barbican/templates/configmap-bin.yaml
  barbican/templates/configmap-etc.yaml
  barbican/templates/job-db-sync.yaml
  barbican/values.yaml
  releasenotes/notes/barbican.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

rabbitmq: Set separate for HTTPS
  rabbitmq/Chart.yaml
  rabbitmq/templates/bin/_rabbitmq-test.sh.tpl
  rabbitmq/templates/bin/_rabbitmq-wait-for-cluster.sh.tpl
  rabbitmq/templates/job-cluster-wait.yaml
  rabbitmq/templates/monitoring/prometheus/exporter-deployment.yaml
  rabbitmq/templates/pod-test.yaml
  rabbitmq/templates/service.yaml
  rabbitmq/templates/statefulset.yaml
  rabbitmq/values_overrides/tls.yaml
  releasenotes/notes/rabbitmq.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Uplift ingress to 0.42.0
  ingress/Chart.yaml
  ingress/templates/deployment-ingress.yaml
  ingress/values.yaml
  releasenotes/notes/ingress.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Mount rabbitmq TLS secret
  cinder/Chart.yaml
  cinder/templates/secret_rabbitmq.yaml
  cinder/values_overrides/tls.yaml
  glance/Chart.yaml
  glance/templates/secret-rabbitmq.yaml
  glance/values_overrides/tls.yaml
  heat/Chart.yaml
  heat/templates/secret-rabbitmq.yaml
  heat/values_overrides/tls.yaml
  keystone/Chart.yaml
  keystone/templates/secret-rabbitmq.yaml
  keystone/values_overrides/tls.yaml
  neutron/Chart.yaml
  neutron/templates/secret_rabbitmq.yaml
  neutron/values_overrides/tls.yaml
  nova/Chart.yaml
  nova/templates/secret_rabbitmq.yaml
  nova/values_overrides/tls.yaml
  releasenotes/notes/cinder.yaml
  releasenotes/notes/glance.yaml
  releasenotes/notes/heat.yaml
  releasenotes/notes/keystone.yaml
  releasenotes/notes/neutron.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

rabbitmq: Add TLS support to helm test
  rabbitmq/Chart.yaml
  rabbitmq/templates/pod-test.yaml
  releasenotes/notes/rabbitmq.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add manual mode to the created backup file name
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/scripts/db-backup-restore/_backup_main.sh.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update gate scripts for Ceph CSI RBD Provisioner
  doc/source/specs/tenant-ceph.rst
  tools/deployment/armada/manifests/armada-osh.yaml
  tools/deployment/component/ceph/ceph-ns-activate.sh
  tools/deployment/component/ceph/ceph.sh
  tools/deployment/developer/ceph/045-ceph-ns-activate.sh
  tools/deployment/multinode/030-ceph.sh
  tools/deployment/multinode/040-ceph-ns-activate.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update job-bootstrap.yaml
  nova/templates/job-bootstrap.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable Ceph CSI Provisioner to Stand Alone
  ceph-mon/Chart.yaml
  ceph-mon/values.yaml
  ceph-provisioners/Chart.yaml
  ceph-provisioners/templates/configmap-etc-client.yaml
  ceph-provisioners/templates/configmap-etc-csi.yaml
  ceph-provisioners/templates/daemonset-csi-rbd-plugin.yaml
  ceph-provisioners/templates/deployment-csi-rbd-provisioner.yaml
  ceph-provisioners/templates/job-bootstrap.yaml
  ceph-provisioners/templates/job-cephfs-client-key.yaml
  ceph-provisioners/templates/job-namespace-client-ceph-config.yaml
  ceph-provisioners/templates/job-namespace-client-key-cleaner.yaml
  ceph-provisioners/templates/job-namespace-client-key.yaml
  ceph-provisioners/values.yaml
  doc/source/testing/ceph-resiliency/failure-domain.rst
  releasenotes/notes/ceph-mon.yaml
  releasenotes/notes/ceph-provisioners.yaml
  tools/deployment/armada/manifests/armada-ceph.yaml
  tools/deployment/armada/manifests/armada-lma.yaml
  tools/deployment/multinode/030-ceph.sh
  tools/deployment/multinode/035-ceph-ns-activate.sh
  tools/deployment/multinode/115-radosgw-osh-infra.sh
  tools/deployment/openstack-support/025-ceph-ns-activate.sh
  tools/deployment/osh-infra-logging-tls/020-ceph.sh
  tools/deployment/osh-infra-logging-tls/025-ceph-ns-activate.sh
  tools/deployment/osh-infra-logging-tls/030-radosgw-osh-infra.sh
  tools/deployment/osh-infra-logging/020-ceph.sh
  tools/deployment/osh-infra-logging/025-ceph-ns-activate.sh
  tools/deployment/osh-infra-logging/030-radosgw-osh-infra.sh
  tools/deployment/tenant-ceph/030-ceph.sh
  tools/deployment/tenant-ceph/040-tenant-ceph.sh
  tools/deployment/tenant-ceph/045-tenant-ceph-ns-activate.sh
  tools/deployment/tenant-ceph/060-radosgw-openstack.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Removed additional checks from Elasicsearch Helm test
  elasticsearch/Chart.yaml
  elasticsearch/templates/bin/_helm-tests.sh.tpl
  releasenotes/notes/elasticsearch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Set reasonable default probe timeouts
  nova/Chart.yaml
  nova/values.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Modify default probe timings
  keystone/Chart.yaml
  keystone/values.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(yaml): add end symbol
  releasenotes/notes/aodh.yaml
  releasenotes/notes/barbican.yaml
  releasenotes/notes/ceilometer.yaml
  releasenotes/notes/cinder.yaml
  releasenotes/notes/designate.yaml
  releasenotes/notes/glance.yaml
  releasenotes/notes/heat.yaml
  releasenotes/notes/ironic.yaml
  releasenotes/notes/magnum.yaml
  releasenotes/notes/mistral.yaml
  releasenotes/notes/octavia.yaml
  releasenotes/notes/panko.yaml
  releasenotes/notes/placement.yaml
  releasenotes/notes/rally.yaml
  releasenotes/notes/senlin.yaml
  releasenotes/notes/tempest.yaml
Due: none

[ceph-rgw] Fix a bug in placement target deletion for new targets
  ceph-rgw/Chart.yaml
  ceph-rgw/templates/bin/_create-rgw-placement-targets.sh.tpl
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Added cronjob for nova which will be cleaning the databases.
  nova/Chart.yaml
  nova/templates/bin/_db-archive-deleted-row.sh.tpl
  nova/templates/configmap-bin.yaml
  nova/templates/cron-job-archive-deleted-rows.yaml
  nova/values.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Use local auth before keystone for s3
  ceph-rgw/Chart.yaml
  ceph-rgw/values.yaml
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Ceph OSD Init Improvements
  ceph-osd/Chart.yaml
  ceph-osd/templates/bin/osd/ceph-volume/_init-ceph-volume-helper-block-logical.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_init-with-ceph-volume.sh.tpl
  releasenotes/notes/ceph-osd.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Clean up residual file
  tools/deployment/network-policy/135-fluentd-deployment.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-devref.po
  doc/source/locale/de/LC_MESSAGES/doc-troubleshooting.po
  doc/source/locale/de/LC_MESSAGES/doc.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-contributor.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-devref.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-specs.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-troubleshooting.po
  doc/source/locale/en_GB/LC_MESSAGES/doc.po
  doc/source/locale/id/LC_MESSAGES/doc-contributor.po
  doc/source/locale/id/LC_MESSAGES/doc-devref.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-specs.po
  doc/source/locale/id/LC_MESSAGES/doc-troubleshooting.po
  doc/source/locale/id/LC_MESSAGES/doc.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-devref.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-troubleshooting.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc.po
  doc/source/locale/ru/LC_MESSAGES/doc-troubleshooting.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

kafka broker hosts should be defined with a comma separated list
  fluentd/Chart.yaml
  fluentd/templates/daemonset.yaml
  releasenotes/notes/fluentd.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix multidomain support selector
  horizon/Chart.yaml
  horizon/values.yaml
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

chore(openssl): updates cert generation
  tools/gate/tls-ca-boostrapper/01-setup.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Nagios: Mount internal TLS CA certificate
  nagios/Chart.yaml
  nagios/templates/deployment.yaml
  nagios/values.yaml
  nagios/values_overrides/tls.yaml
  releasenotes/notes/nagios.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Export crash dumps when Ceph daemons crash
  ceph-client/Chart.yaml
  ceph-client/templates/bin/_init-dirs.sh.tpl
  ceph-client/templates/deployment-mds.yaml
  ceph-client/templates/deployment-mgr.yaml
  ceph-mon/Chart.yaml
  ceph-mon/templates/bin/_init-dirs.sh.tpl
  ceph-mon/templates/daemonset-mon.yaml
  ceph-osd/Chart.yaml
  ceph-osd/templates/bin/_init-dirs.sh.tpl
  ceph-osd/templates/daemonset-osd.yaml
  ceph-rgw/Chart.yaml
  ceph-rgw/templates/bin/_init-dirs.sh.tpl
  ceph-rgw/templates/deployment-rgw.yaml
  releasenotes/notes/ceph-client.yaml
  releasenotes/notes/ceph-mon.yaml
  releasenotes/notes/ceph-osd.yaml
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add Ussuri release support
  barbican/Chart.yaml
  barbican/values_overrides/ussuri-ubuntu_bionic.yaml
  cinder/Chart.yaml
  cinder/values_overrides/ussuri-ubuntu_bionic.yaml
  glance/Chart.yaml
  glance/values_overrides/ussuri-ubuntu_bionic.yaml
  heat/Chart.yaml
  heat/values_overrides/ussuri-ubuntu_bionic.yaml
  horizon/Chart.yaml
  horizon/values_overrides/ussuri-ubuntu_bionic.yaml
  keystone/Chart.yaml
  keystone/values_overrides/ussuri-ubuntu_bionic.yaml
  neutron/Chart.yaml
  neutron/values_overrides/ussuri-ubuntu_bionic.yaml
  nova/Chart.yaml
  nova/values_overrides/ussuri-ubuntu_bionic.yaml
  nova/values_overrides/ussuri.yaml
  placement/Chart.yaml
  placement/values_overrides/ussuri-ubuntu_bionic.yaml
  releasenotes/notes/barbican.yaml
  releasenotes/notes/cinder.yaml
  releasenotes/notes/glance.yaml
  releasenotes/notes/heat.yaml
  releasenotes/notes/horizon.yaml
  releasenotes/notes/keystone.yaml
  releasenotes/notes/neutron.yaml
  releasenotes/notes/nova.yaml
  releasenotes/notes/placement.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix for the values in archive_delete_rows script
  nova/Chart.yaml
  nova/templates/bin/_db-archive-deleted-row.sh.tpl
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix conductor reload
  magnum/Chart.yaml
  magnum/templates/statefulset-conductor.yaml
  releasenotes/notes/magnum.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

nova: Add image clean up to rally test
  nova/Chart.yaml
  nova/values.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Wire up rootwrap daemon
  neutron/Chart.yaml
  neutron/values.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add hash for ceph rgw keystone user
  ceph-rgw/Chart.yaml
  ceph-rgw/templates/deployment-rgw.yaml
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Added the helm hook for create user job for exporter
  mariadb/Chart.yaml
  mariadb/templates/monitoring/prometheus/exporter-job-create-user.yaml
  mariadb/values.yaml
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Added helm hook for rabbitmq job cluster wait
  rabbitmq/Chart.yaml
  rabbitmq/templates/job-cluster-wait.yaml
  rabbitmq/values.yaml
  releasenotes/notes/rabbitmq.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Disable RGW crash dumps
  ceph-rgw/Chart.yaml
  ceph-rgw/templates/bin/_init-dirs.sh.tpl
  ceph-rgw/templates/deployment-rgw.yaml
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy
