Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: (any of: ^.*\.py\.tpl$, ^.*\.py$, ^tools/gate/playbooks/osh-bandit.yaml$) or (any of: ^.*\.py\.tpl$, ^.*\.py$)
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-federated-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-local-storage: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-lint: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-lint-osh: any of: ^helm-toolkit/.*$
  openstack-helm-infra-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-infra-bandit.yaml$
  openstack-helm-infra-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-metacontroller: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal: any of: ^roles/.*, ^mariadb-cluster/.*
  openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*
  openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^ovn/.*
  openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^memcached/.*, ^openvswitch/.*
  openstack-helm-infra-cinder-2023-1-ubuntu_focal: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*
  openstack-helm-infra-cinder-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^tools/deployment/ceph-rook\.sh$, ^tools/deployment/ceph-adapter-rook\.sh$
  openstack-helm-infra-tls-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*

chore: use sphinx-lint on the docs and releasenotes
  .pre-commit-config.yaml
  doc/source/devref/fluent-logging.rst
  doc/source/devref/networking.rst
  doc/source/specs/2025.1/chart_versioning.rst
  doc/source/specs/2025.2/own_service_accounts.rst
  doc/source/specs/multi-os.rst
  doc/source/specs/osh-1.0-requirements.rst
  doc/source/testing/ceph-upgrade.rst
  doc/source/troubleshooting/persistent-storage.rst
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix: Add Missing Neutron OVN VPN Configuration
  neutron/templates/bin/_neutron-server.sh.tpl
  neutron/templates/deployment-server.yaml
  releasenotes/notes/neutron-96d95ffbdeaaf29a.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feature: Add Blazar Chart
  blazar/Chart.yaml
  blazar/templates/bin/_blazar_api.sh.tpl
  blazar/templates/bin/_blazar_manager.sh.tpl
  blazar/templates/bin/_db-sync.sh.tpl
  blazar/templates/configmap-bin.yaml
  blazar/templates/configmap-etc.yaml
  blazar/templates/deployment-api.yaml
  blazar/templates/deployment-manager.yaml
  blazar/templates/ingress-api.yaml
  blazar/templates/job-bootstrap.yaml
  blazar/templates/job-db-drop.yaml
  blazar/templates/job-db-init.yaml
  blazar/templates/job-db-sync.yaml
  blazar/templates/job-ks-endpoints.yaml
  blazar/templates/job-ks-service.yaml
  blazar/templates/job-ks-user.yaml
  blazar/templates/job-rabbit-init.yaml
  blazar/templates/pdb-api.yaml
  blazar/templates/pdb-manager.yaml
  blazar/templates/pod-rally-test.yaml
  blazar/templates/secret-db.yaml
  blazar/templates/secret-keystone.yaml
  blazar/templates/secret-ks-etc.yaml
  blazar/templates/secret-rabbitmq.yaml
  blazar/templates/service-api.yaml
  blazar/templates/service-ingress-api.yaml
  blazar/values.yaml
  doc/source/chart/openstack_charts.rst
  doc/source/install/openstack.rst
  releasenotes/config.yaml
  releasenotes/notes/blazar-73cedded47699964.yaml
  tools/deployment/component/blazar/blazar.sh
  tools/deployment/component/blazar/blazar_smoke_test.sh
  values_overrides/blazar/2025.1-ubuntu_jammy.yaml
  values_overrides/blazar/2025.1-ubuntu_noble.yaml
  zuul.d/2025.1.yaml
  zuul.d/base.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

charts/libvirt: add Prometheus libvirt exporter support
  libvirt/releasenotes/notes/libvirt-339936ca478fbf50.yaml
  libvirt/templates/daemonset-libvirt.yaml
  libvirt/templates/pod-monitor.yaml
  libvirt/values.yaml
  values_overrides/libvirt/inovex_exporter.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy

fix(keystone): ensure fernet and credential keys are not deleted
  keystone/templates/secret-credential-keys.yaml
  keystone/templates/secret-fernet-keys.yaml
  releasenotes/notes/keystone-56908951efdcc19e.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add Cloudkitty Helm chart, Rating service
  cloudkitty/Chart.yaml
  cloudkitty/templates/bin/_bootstrap.sh.tpl
  cloudkitty/templates/bin/_cloudkitty-api.sh.tpl
  cloudkitty/templates/bin/_cloudkitty-processor.sh.tpl
  cloudkitty/templates/bin/_db-sync.sh.tpl
  cloudkitty/templates/bin/_storage-init.sh.tpl
  cloudkitty/templates/configmap-bin.yaml
  cloudkitty/templates/configmap-etc.yaml
  cloudkitty/templates/deployment-api.yaml
  cloudkitty/templates/deployment-processor.yaml
  cloudkitty/templates/ingress-api.yaml
  cloudkitty/templates/job-bootstrap.yaml
  cloudkitty/templates/job-db-drop.yaml
  cloudkitty/templates/job-db-init.yaml
  cloudkitty/templates/job-db-sync.yaml
  cloudkitty/templates/job-image-repo-sync.yaml
  cloudkitty/templates/job-ks-endpoints.yaml
  cloudkitty/templates/job-ks-service.yaml
  cloudkitty/templates/job-ks-user.yaml
  cloudkitty/templates/job-rabbitmq-init.yaml
  cloudkitty/templates/job-storage-init.yaml
  cloudkitty/templates/network_policy.yaml
  cloudkitty/templates/pbd-api.yaml
  cloudkitty/templates/secret-db.yaml
  cloudkitty/templates/secret-keystone.yaml
  cloudkitty/templates/secret-ks-etc.yaml
  cloudkitty/templates/secret-rabbitmq.yaml
  cloudkitty/templates/secret-registry.yaml
  cloudkitty/templates/service-api.yaml
  cloudkitty/values.yaml
  doc/source/chart/openstack_charts.rst
  releasenotes/config.yaml
  releasenotes/notes/cloudkitty.yaml
  tools/deployment/component/cloudkitty/cloudkitty.sh
  values_overrides/cloudkitty/2024.2-ubuntu_jammy.yaml
  values_overrides/cloudkitty/2025.1-ubuntu_jammy.yaml
  values_overrides/cloudkitty/2025.1-ubuntu_noble.yaml
  zuul.d/2025.1.yaml
  zuul.d/base.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feature: Add Freezer Chart
  doc/source/chart/openstack_charts.rst
  doc/source/install/openstack.rst
  freezer/Chart.yaml
  freezer/templates/bin/_bootstrap.sh.tpl
  freezer/templates/bin/_db-sync.sh.tpl
  freezer/templates/bin/_freezer-api.sh.tpl
  freezer/templates/configmap-bin.yaml
  freezer/templates/configmap-etc.yaml
  freezer/templates/deployment-api.yaml
  freezer/templates/ingress-api.yaml
  freezer/templates/job-bootstrap.yaml
  freezer/templates/job-db-drop.yaml
  freezer/templates/job-db-init.yaml
  freezer/templates/job-db-sync.yaml
  freezer/templates/job-image-repo-sync.yaml
  freezer/templates/job-ks-endpoints.yaml
  freezer/templates/job-ks-service.yaml
  freezer/templates/job-ks-user.yaml
  freezer/templates/pdb-api.yaml
  freezer/templates/secret-db.yaml
  freezer/templates/secret-keystone.yaml
  freezer/templates/service-api.yaml
  freezer/templates/service-ingress-api.yaml
  freezer/values.yaml
  releasenotes/config.yaml
  releasenotes/notes/freezer-3272cc6ed891f5a3.yaml
  tools/deployment/component/freezer/freezer.sh
  tools/deployment/component/freezer/freezer_smoke_test.sh
  values_overrides/freezer/2025.1-ubuntu_jammy.yaml
  values_overrides/freezer/2025.1-ubuntu_noble.yaml
  zuul.d/2025.1.yaml
  zuul.d/base.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

octavia: fix readiness and liveness port for api
  octavia/templates/deployment-api.yaml
  octavia/templates/service-api.yaml
  octavia/values.yaml
  releasenotes/notes/octavia-a9a696fde141cd8b.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add oci_image_registry support
  releasenotes/notes/skyline-0cc4caaea4f05714.yaml
  skyline/templates/secret-registry.yaml
  skyline/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

updated blazar configs
  blazar/templates/secret-keystone.yaml
  blazar/values.yaml
  releasenotes/notes/blazar-b7fc5016b49c8f59.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[grafana] Adjust scripts for SQLAlchemy 2.0 compatibility
  grafana/templates/bin/_db-session-sync.py.tpl
  releasenotes/notes/grafana-b3fac6a311d115a6.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[Neutron] ovn adopt uwsgi
  neutron/templates/bin/_neutron-server.sh.tpl
  releasenotes/notes/neutron-3c33aea435f7ab8a.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add job filters
  zuul.d/base.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Freezer: Correct appVersion and version in Chart.yaml
  freezer/Chart.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(libvirt-exporter): add readiness and liveness probes to sidecar container
  libvirt/templates/daemonset-libvirt.yaml
  libvirt/values.yaml
  releasenotes/notes/libvirt-e8ba1d91a8ca4999.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy

htk: do not include region in service domain/project desc
  helm-toolkit/templates/scripts/_ks-domain-user.sh.tpl
  helm-toolkit/templates/scripts/_ks-user.sh.tpl
  releasenotes/notes/helm-toolkit-04996581655d9952.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Use manila wsgi module
  manila/values.yaml
  releasenotes/notes/manila-f8ada2e675fcc308.yaml
  values_overrides/manila/2024.1-ubuntu_jammy.yaml
  values_overrides/manila/2024.2-ubuntu_jammy.yaml
  values_overrides/manila/2025.1-ubuntu_jammy.yaml
  values_overrides/manila/2025.1-ubuntu_noble.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix mount path for nova novncproxy
  nova/templates/deployment-novncproxy.yaml
  releasenotes/notes/nova-495c648112a2b539.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

nova: ensure /etc/nova/nova.conf.d is always loaded
  nova/templates/bin/_health-probe.py.tpl
  nova/templates/bin/_nova-compute-ironic.sh.tpl
  nova/templates/bin/_nova-compute.sh.tpl
  nova/templates/bin/_nova-conductor.sh.tpl
  nova/templates/bin/_nova-console-proxy.sh.tpl
  nova/templates/bin/_nova-scheduler.sh.tpl
  nova/templates/daemonset-compute.yaml
  nova/templates/deployment-conductor.yaml
  nova/templates/deployment-scheduler.yaml
  releasenotes/notes/nova-7f3dbce1333752b8.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Covering the case when rgw endpoint is in another namespace
  helm-toolkit/templates/snippets/_kubernetes_pod_rbac_roles.tpl
  helm-toolkit/templates/snippets/_kubernetes_pod_rbac_serviceaccount.tpl
  releasenotes/notes/helm-toolkit-e84e695df114929d.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Deleting non-used dependecy on the secret with s3-admin
  elasticsearch/templates/bin/_create_s3_buckets.sh.tpl
  elasticsearch/values.yaml
  helm-toolkit/templates/manifests/_job-s3-bucket.yaml.tpl
  helm-toolkit/templates/manifests/_job-s3-user.yaml.tpl
  helm-toolkit/templates/scripts/_create-s3-bucket.sh.tpl
  releasenotes/notes/elasticsearch-ba314935c85c3b25.yaml
  releasenotes/notes/helm-toolkit-5fa68b35be3378b3.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

fix docker_users ununtu to ubuntu
  doc/source/install/kubernetes.rst
Due: none

Add extra kubelet args to avoid kubectl logs timeouts
  roles/deploy-env/files/etc_default_kubelet.j2
  roles/deploy-env/files/kubeadm_config.yaml.j2
  roles/deploy-env/tasks/main.yaml
  roles/gather-pod-logs/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Fix console xtrace for Ansible shell module
  playbooks/prepare-hosts.yaml
  playbooks/run-scripts.yaml
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Use octavia wsgi module
  octavia/values.yaml
  releasenotes/notes/octavia-171c56de7891c86d.yaml
  values_overrides/octavia/2025.1-ubuntu_jammy.yaml
  values_overrides/octavia/2025.1-ubuntu_noble.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix cinder volume container permission
  cinder/values.yaml
  releasenotes/notes/cinder-92ee9aa061442690.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(cinder): add support for custom_job_annotations on selected jobs
  cinder/templates/job-clean.yaml
  cinder/templates/job-create-internal-tenant.yaml
  releasenotes/notes/cinder-48232b427a294d57.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Remove option for apache < 2.4
  aodh/values.yaml
  ceilometer/values.yaml
  horizon/values.yaml
  keystone/values.yaml
  monasca/values.yaml
  values_overrides/cinder/tls.yaml
  values_overrides/heat/tls.yaml
  values_overrides/horizon/tls.yaml
  values_overrides/keystone/tls.yaml
  values_overrides/nova/tls.yaml
  values_overrides/openstack/heat/tls.yaml
  values_overrides/openstack/horizon/tls.yaml
  values_overrides/openstack/keystone/tls.yaml
  values_overrides/openstack/nova/tls.yaml
  values_overrides/openstack/placement/tls.yaml
  values_overrides/placement/tls.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Remove ceilometer-collector support
  ceilometer/templates/bin/_ceilometer-collector.sh.tpl
  ceilometer/templates/configmap-bin.yaml
  ceilometer/templates/deployment-collector.yaml
  ceilometer/values.yaml
  releasenotes/notes/ceilometer-15768e1064d3339d.yaml
  tools/deployment/component/ceilometer/ceilometer.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[ovn] Add oci_image_registry support
  ovn/templates/secret-registry.yaml
  ovn/values.yaml
  releasenotes/notes/ovn-d195851d81d68036.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy

Fix kubelet config to use VXLAN iface
  roles/deploy-env/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Remove Ubuntu Focal nodesets
  zuul.d/nodesets.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[Mariadb] Update the start script to fix lingering annotation
  mariadb/templates/bin/_start.py.tpl
  releasenotes/notes/mariadb-2d75f250c1fbcd73.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

fix cloudkitty typos and add metrics to api
  cloudkitty/templates/deployment-api.yaml
  cloudkitty/values.yaml
  releasenotes/notes/cloudkitty-d61bea096f10b731.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Remove options for ceilometer-api
  ceilometer/templates/bin/_ceilometer-api.sh.tpl
  ceilometer/templates/bin/_db-init-mongodb.sh.tpl
  ceilometer/templates/configmap-bin.yaml
  ceilometer/templates/configmap-etc.yaml
  ceilometer/templates/deployment-api.yaml
  ceilometer/templates/ingress-api.yaml
  ceilometer/templates/job-db-drop.yaml
  ceilometer/templates/job-db-init-mongodb.yaml
  ceilometer/templates/job-db-init.yaml
  ceilometer/templates/job-ks-endpoints.yaml
  ceilometer/templates/job-ks-service.yaml
  ceilometer/templates/pdb-api.yaml
  ceilometer/templates/pod-rally-test.yaml
  ceilometer/templates/secret-db.yaml
  ceilometer/templates/secret-mongodb.yaml
  ceilometer/templates/service-api.yaml
  ceilometer/templates/service-ingress-api.yaml
  ceilometer/values.yaml
  releasenotes/notes/ceilometer-ab177a5c0aad98df.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

ceilometer: Require gnocchi to run db-sync
  ceilometer/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(nova): create a way for users to provide configs in nova.conf.d
  nova/templates/cron-job-archive-deleted-rows.yaml
  nova/templates/cron-job-service-cleaner.yaml
  nova/templates/daemonset-compute.yaml
  nova/templates/deployment-api-metadata.yaml
  nova/templates/deployment-api-osapi.yaml
  nova/templates/deployment-conductor.yaml
  nova/templates/deployment-novncproxy.yaml
  nova/templates/deployment-scheduler.yaml
  nova/templates/deployment-serialproxy.yaml
  nova/templates/deployment-spiceproxy.yaml
  nova/templates/job-cell-setup.yaml
  nova/templates/statefulset-compute-ironic.yaml
  nova/values.yaml
  releasenotes/notes/nova-fc00bda9bb69988e.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add Octavia overrides for older releases
  values_overrides/octavia/2024.1-ubuntu_jammy.yaml
  values_overrides/octavia/2024.2-ubuntu_jammy.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller
