Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-kubernetes-keystone-auth: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-deploy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-uuid: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-passwords: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-airship-divingbell: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-podsecuritypolicy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$

Added helm.sh/hook annotations for jobs in glance chart.
  glance/Chart.yaml
  glance/templates/job-bootstrap.yaml
  glance/templates/job-db-init.yaml
  glance/templates/job-db-sync.yaml
  glance/templates/job-image-repo-sync.yaml
  glance/templates/job-ks-endpoints.yaml
  glance/templates/job-ks-service.yaml
  glance/templates/job-ks-user.yaml
  glance/templates/job-metadefs-load.yaml
  glance/templates/job-rabbit-init.yaml
  glance/templates/job-storage-init.yaml
  glance/values.yaml
  releasenotes/notes/glance.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Added post-install and post-upgrade for jobs in heat
  heat/Chart.yaml
  heat/templates/job-bootstrap.yaml
  heat/templates/job-db-init.yaml
  heat/templates/job-db-sync.yaml
  heat/templates/job-image-repo-sync.yaml
  heat/templates/job-ks-endpoints.yaml
  heat/templates/job-ks-service.yaml
  heat/templates/job-ks-user-domain.yaml
  heat/templates/job-ks-user-trustee.yaml
  heat/templates/job-ks-user.yaml
  heat/templates/job-rabbit-init.yaml
  heat/templates/job-trusts.yaml
  heat/values.yaml
  releasenotes/notes/heat.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix enable password retrieve config value
  horizon/Chart.yaml
  horizon/values.yaml
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update log format stream for mariadb
  mariadb/Chart.yaml
  mariadb/values.yaml
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix glance-api pod always in init status
  tools/deployment/multinode/100-glance.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Revert "chore(tiller): removes tiller chart"
  releasenotes/config.yaml
  releasenotes/notes/tiller.yaml
  tiller/Chart.yaml
  tiller/requirements.yaml
  tiller/templates/configmap-bin.yaml
  tiller/templates/deployment-tiller.yaml
  tiller/templates/job-image-repo-sync.yaml
  tiller/templates/service-tiller-deploy.yaml
  tiller/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix an attribute error
  roles/build-images/tasks/kubeadm-aio.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove Kibana indices before pod start up
  kibana/Chart.yaml
  kibana/templates/bin/_create_kibana_index_patterns.sh.tpl
  kibana/templates/bin/_kibana.sh.tpl
  kibana/templates/job-register-kibana-indexes.yaml
  kibana/values.yaml
  releasenotes/notes/kibana.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add logic to Cinder bootstrap to handle timing issue
  cinder/Chart.yaml
  cinder/templates/bin/_bootstrap.sh.tpl
  releasenotes/notes/cinder.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix Ceph checkDNS script
  ceph-client/Chart.yaml
  ceph-client/templates/bin/utils/_checkDNS.sh.tpl
  ceph-mon/Chart.yaml
  ceph-mon/templates/bin/utils/_checkDNS.sh.tpl
  ceph-osd/Chart.yaml
  ceph-osd/templates/bin/utils/_checkDNS.sh.tpl
  releasenotes/notes/ceph-client.yaml
  releasenotes/notes/ceph-mon.yaml
  releasenotes/notes/ceph-osd.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

cert-rotation: Correct and enhance the rotation script.
  cert-rotation/Chart.yaml
  cert-rotation/templates/bin/_rotate-certs.sh.tpl
  releasenotes/notes/cert-rotation.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Always set pg_num_min to the proper value
  ceph-client/Chart.yaml
  ceph-client/templates/bin/pool/_init.sh.tpl
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Added helm.sh/hook annotations for placement chart jobs
  placement/Chart.yaml
  placement/templates/job-db-init.yaml
  placement/templates/job-image-repo-sync.yaml
  placement/templates/job-ks-endpoints.yaml
  placement/templates/job-ks-service.yaml
  placement/templates/job-ks-user.yaml
  placement/values.yaml
  releasenotes/notes/placement.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Ceph OSD log-runner container should run as ceph user
  ceph-osd/Chart.yaml
  ceph-osd/values.yaml
  releasenotes/notes/ceph-osd.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add base helm3 job
  playbooks/osh-infra-gate-runner.yaml
  tools/gate/deploy-k8s.sh
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Get kubeadm working again
  releasenotes/notes/tiller.yaml
  tiller/Chart.yaml
  tiller/values.yaml
  tools/images/kubeadm-aio/Dockerfile
  tools/images/kubeadm-aio/assets/entrypoint.sh
  tools/images/kubeadm-aio/assets/opt/playbooks/vars.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Cleanup unused jobs
  tools/deployment/armada/010-armada-host-setup.sh
  tools/deployment/armada/015-armada-build.sh
  tools/deployment/armada/020-armada-render-manifests.sh
  tools/deployment/armada/025-armada-validate-manifests.sh
  tools/deployment/armada/030-armada-apply-manifests.sh
  tools/deployment/armada/035-armada-update-uuid.sh
  tools/deployment/armada/040-armada-update-passwords.sh
  tools/deployment/armada/generate-osh-passwords.sh
  tools/deployment/armada/manifests/armada-osh.yaml
  tools/gate/playbooks/gather-armada-manifests.yaml
  zuul.d/jobs-openstack-helm.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Re-enable multinode gating jobs
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Modify the rbac_role to make secrets accessible
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/snippets/_kubernetes_pod_rbac_roles.tpl
  helm-toolkit/templates/snippets/_kubernetes_pod_rbac_serviceaccount.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove unused jobs and related files
  playbooks/gather-armada-manifests.yaml
  tools/deployment/armada/010-armada-host-setup.sh
  tools/deployment/armada/015-armada-build.sh
  tools/deployment/armada/020-armada-render-manifests.sh
  tools/deployment/armada/025-armada-validate-manifests.sh
  tools/deployment/armada/030-armada-apply-manifests.sh
  tools/deployment/armada/035-armada-update-uuids.sh
  tools/deployment/armada/040-armada-update-passwords.sh
  tools/deployment/armada/generate-osh-infra-passwords.sh
  tools/deployment/armada/manifests/armada-ceph.yaml
  tools/deployment/armada/manifests/armada-cluster-ingress.yaml
  tools/deployment/armada/manifests/armada-lma.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add default polices
  horizon/Chart.yaml
  horizon/templates/bin/_horizon.sh.tpl
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update shaker helm3 compatability
  releasenotes/notes/shaker.yaml
  shaker/Chart.yaml
  shaker/templates/job-image-repo-sync.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix helm3 compatability
  prometheus-kube-state-metrics/Chart.yaml
  prometheus-kube-state-metrics/templates/deployment.yaml
  releasenotes/notes/prometheus-kube-state-metrics.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

add ingress resources
  mariadb/Chart.yaml
  mariadb/values.yaml
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(netpol): allows toggling the lockdown
  lockdown/Chart.yaml
  lockdown/templates/network_policy.yaml
  lockdown/values.yaml
  releasenotes/notes/lockdown.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix db connection key name in DEFAULT config
  barbican/Chart.yaml
  barbican/templates/configmap-etc.yaml
  releasenotes/notes/barbican.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add missing slash
  keystone/Chart.yaml
  keystone/templates/bin/_domain-manage.sh.tpl
  keystone/templates/job-domain-manage.yaml
  keystone/values.yaml
  keystone/values_overrides/ldap.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix for before option in archive_deleted_rows
  nova/Chart.yaml
  nova/templates/bin/_db-archive-deleted-row.sh.tpl
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Removed policies from values file
  nova/Chart.yaml
  nova/values.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(gate): disable ssl job
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix issue with db backup error return code being eaten
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/scripts/db-backup-restore/_backup_main.sh.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Removed default policy from horizon chart
  horizon/Chart.yaml
  horizon/values.yaml
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

feat(helm-toolkit): allow setting extra labels on pods
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/snippets/_kubernetes_metadata_labels.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(ssl): fixes libvirt ssl job
  tools/deployment/openstack-support/051-libvirt-ssl.sh
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add rabbitmq secret volume + mount for audit usage cronjob
  cinder/Chart.yaml
  cinder/templates/cron-job-cinder-volume-usage-audit.yaml
  releasenotes/notes/cinder.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add option to disable helm.sh/hook annotations
  neutron/Chart.yaml
  neutron/templates/job-bootstrap.yaml
  neutron/templates/job-db-init.yaml
  neutron/templates/job-db-sync.yaml
  neutron/templates/job-image-repo-sync.yaml
  neutron/templates/job-ks-endpoints.yaml
  neutron/templates/job-ks-service.yaml
  neutron/templates/job-ks-user.yaml
  neutron/templates/job-rabbit-init.yaml
  neutron/values.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-client] Performance optimizations for the ceph-rbd-pool job
  ceph-client/Chart.yaml
  ceph-client/templates/bin/pool/_init.sh.tpl
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fixing nova's helm.sh/hook disablement
  nova/Chart.yaml
  nova/templates/job-ks-service.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy
