Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-skyline, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy:
  description: 'Run the openstack-helm compute-kit job with DPDK enabled.
  
    We use single node environment to run this job which means
  
    that the job only tests that QEMU and OVS-DPDK are working
  
    together. The job does not assume having specific DPDK hardware.
  
    '
  ...

openstack-helm-linter:
  run: playbooks/lint.yaml
  nodeset: openstack-helm-1node-ubuntu_jammy
  required-projects:
  - openstack/openstack-helm
  pre-run:
  - playbooks/inject-keys.yaml

openstack-helm-bandit:
  roles:
  - zuul: openstack/openstack-helm
  - zuul: zuul/zuul-jobs
  required-projects:
  - openstack/openstack-helm
  pre-run: playbooks/prepare-hosts.yaml
  post-run: playbooks/collect-logs.yaml
  run: playbooks/osh-bandit.yaml
  vars:
    helm_version: v3.6.3
    bandit_version: 1.7.1

openstack-helm-skyline:
  parent: openstack-helm-deploy
  timeout: 10800
  vars:
    gate_scripts:
    - ./tools/deployment/common/prepare-bashrc.sh
    - ./tools/deployment/common/prepare-k8s.sh
    - ./tools/deployment/common/prepare-charts.sh
    - ./tools/deployment/common/setup-client.sh
  ...

openstack-helm-octavia:
  parent: openstack-helm-deploy
  timeout: 10800
  vars:
    gate_scripts:
    - ./tools/deployment/common/prepare-bashrc.sh
    - ./tools/deployment/common/prepare-k8s.sh
    - ./tools/deployment/common/prepare-charts.sh
    - ./tools/deployment/common/setup-client.sh
  ...

openstack-helm-infra:
  parent: openstack-helm-infra-functional
  timeout: 7200
  roles:
  - zuul: zuul/zuul-jobs
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  ...

openstack-helm-infra-tenant-ceph:
  parent: openstack-helm-infra-functional
  nodeset: openstack-helm-3nodes-ubuntu_focal
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  ...

openstack-helm-infra-federated-monitoring:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    gate_scripts_relative_path: ../openstack-helm-infra
  ...

openstack-helm-infra-aio-network-policy:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    gate_scripts_relative_path: ../openstack-helm-infra
    gate_scripts:
  ...

openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy:
  parent: openstack-helm-compute-kit-2025-1-ubuntu_jammy
  vars:
    osh_params:
      feature_gates: ingress-service

ovn: Add ovn-bgp-agent daemonset
  ovn/templates/bin/_ovn-frr.sh.tpl
  ovn/templates/configmap-bin.yaml
  ovn/templates/configmap-etc.yaml
  ovn/templates/daemonset-ovn-bgp-agent.yaml
  ovn/values.yaml
  releasenotes/notes/ovn-a1088111f66d8601.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy

manila: Add graceful shutdown support
  manila/templates/deployment-api.yaml
  manila/values.yaml
  releasenotes/notes/manila-graceful-shutdown-api-984338256ee4155b.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

ceph: Add endpointslices to hardcoded RBAC roles
  ceph-client/templates/deployment-checkdns.yaml
  ceph-mon/templates/daemonset-mon.yaml
  ceph-provisioners/templates/job-namespace-client-ceph-config.yaml
  ceph-rgw/templates/deployment-rgw.yaml
  releasenotes/notes/ceph-client-83d68b6908878179.yaml
  releasenotes/notes/ceph-mon-a4dac079b9395a25.yaml
  releasenotes/notes/ceph-provisioners-0c6c40ced2f1f1b6.yaml
  releasenotes/notes/ceph-rgw-a3de521a7bb02183.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-cinder-2023-1-ubuntu_focal

Add oslo_cache memcache_servers defaults
  heat/templates/configmap-etc.yaml
  neutron/templates/configmap-etc.yaml
  trove/templates/configmap-etc.yaml
  zaqar/templates/configmap-etc.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

limit envsubst by specifying the list of env variables
  glance/templates/bin/_nginx.sh.tpl
  neutron/templates/bin/_nginx.sh.tpl
  releasenotes/notes/glance-cf12d33992e17bd8.yaml
  releasenotes/notes/neutron-18c1dc7e13cc1f57.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[kube-state-metrics] Upgrade to v2.19.1
  prometheus-kube-state-metrics/Chart.yaml
  prometheus-kube-state-metrics/values.yaml
  releasenotes/notes/prometheus-kube-state-metrics-bf96b36233c397a4.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add oslo_cache memcache_servers defaults
  heat/templates/configmap-etc.yaml
  neutron/templates/configmap-etc.yaml
  releasenotes/notes/common-69dcb0c8ac5ec814.yaml
  trove/templates/configmap-etc.yaml
  zaqar/templates/configmap-etc.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix Masakari endpoint lookups to use service instead of internal
  masakari/templates/deployment-api.yaml
  masakari/templates/service-api.yaml
  releasenotes/notes/masakari-endpoints-2349af755f6eb9e7.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

horizon: Make secure proxy addr header configurable
  horizon/values.yaml
  releasenotes/notes/horizon-secure-proxy-addr-header-7cb829a300f91431.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add Octavia management interface MTU options
  octavia/templates/bin/_octavia-health-manager-nic-init.sh.tpl
  octavia/templates/bin/_octavia-health-manager.sh.tpl
  octavia/templates/bin/_octavia-worker-nic-init.sh.tpl
  octavia/templates/bin/_octavia-worker.sh.tpl
  octavia/values.yaml
  releasenotes/notes/support-octavia-o-hm0-mtu-92f895627bcd0492.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

fix: wire identity.openrc to remaining keystone_user_create_env_vars call sites
  blazar/templates/pod-rally-test.yaml
  cinder/templates/deployment-volume.yaml
  cinder/templates/job-create-internal-tenant.yaml
  cinder/templates/pod-rally-test.yaml
  cinder/templates/statefulset-volume.yaml
  glance/templates/pod-rally-test.yaml
  heat/templates/pod-rally-test.yaml
  keystone/templates/pod-rally-test.yaml
  manila/templates/pod-rally-test.yaml
  mistral/templates/pod-rally-test.yaml
  neutron/templates/pod-rally-test.yaml
  prometheus-openstack-exporter/templates/job-ks-user.yaml
  watcher/templates/pod-rally-test.yaml
  zaqar/templates/pod-rally-test.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[ceph-mon] Allow the post apply job to restart mons disruptively
  ceph-mon/templates/bin/_post-apply.sh.tpl
  ceph-mon/templates/job-post-apply.yaml
  ceph-mon/values.yaml
  releasenotes/notes/ceph-mon-d2952135e06e6f19.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-cinder-2023-1-ubuntu_focal

Change 2026.1-ubuntu_jammy to 2026.1-ubuntu_noble
  blazar/values.yaml
  freezer/values.yaml
  octavia/values.yaml
  zaqar/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(neutron): use oslo.healthcheck for readiness probe
  neutron/templates/deployment-server.yaml
  neutron/values.yaml
  releasenotes/notes/neutron-8a3f1c2d5e7b0a94.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(keystone): allow users to set custom annotations on secrets
  keystone/templates/secret-credential-keys.yaml
  keystone/templates/secret-fernet-keys.yaml
  releasenotes/notes/keystone-5a6c9589d9d5f9b4.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

deploy: survive transient admission-webhook races in CI
  roles/deploy-charts/tasks/_install.yaml
  roles/deploy-env/tasks/metallb.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

deploy: pin neutron tenant MTU for the node overlay
  roles/deploy-charts/tasks/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

fix(ceilometer): assign ResellerAdmin role
  ceilometer/values.yaml
  releasenotes/notes/ceilometer-reselleradmin-role-7809ebd2dc7ca66b.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

manila: make cross-VM NFS test resilient to SSH blips
  tools/deployment/component/manila/test-share.sh
  zuul.d/2026.1-ubuntu_noble.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

neutron: Fix pod.lifecycle.upgrades.daemonsets.ovn_agent lookup
  neutron/templates/daemonset-ovn-agent.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

neutron: Auto-compute nova_metadata_protocol from compute_metadata endpoint
  neutron/templates/configmap-etc.yaml
  releasenotes/notes/neutron-79c2c5b19e748920.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

horizon: Add support for configuring the SECONDARY_ENDPOINT_TYPE
  horizon/values.yaml
  releasenotes/notes/horizon-9523a869bcedc501.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add support for configuring DEFAULT_SERVICE_REGIONS
  horizon/values.yaml
  releasenotes/notes/horizon-f0a14ed45364405c.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add nf_tables fallback for modprobe in OVS agent init
  neutron/templates/bin/_neutron-openvswitch-agent-init-modules.sh.tpl
  releasenotes/notes/neutron-04244e7a52d7e1d2.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add custom script injection to cinder bootstrap
  cinder/templates/bin/_bootstrap.sh.tpl
  cinder/values.yaml
  releasenotes/notes/cinder-custom-bootstrap-script-8e7f2a3b4c5d6e9f.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Set Nova terminationGracePeriodSeconds to 180s
  nova/templates/daemonset-compute.yaml
  nova/templates/deployment-conductor.yaml
  nova/templates/deployment-scheduler.yaml
  nova/values.yaml
  releasenotes/notes/nova-4ec2b28e4c2f9b55.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

nova: source db-sync cell mapping values from nova.conf
  nova/templates/bin/_db-sync.sh.tpl
  nova/templates/bin/_health-probe.py.tpl
  nova/templates/configmap-etc.yaml
  nova/templates/job-db-drop.yaml
  nova/templates/job-db-init.yaml
  nova/templates/job-db-sync.yaml
  nova/templates/secret-db-cell1.yaml
  nova/templates/secret-db.yaml
  nova/templates/secret-rabbitmq.yaml
  nova/values.yaml
  playbooks/deploy-compute-kit.yaml
  releasenotes/notes/nova-62d9a04c4fdcf6cb.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

fix(keystone): render empty Secret data as {} instead of null
  keystone/templates/secret-credential-keys.yaml
  keystone/templates/secret-fernet-keys.yaml
  releasenotes/notes/keystone-b5a6e8b38948a6f7.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(keystone): prevent deletion of fernet/credential key secrets
  keystone/templates/secret-credential-keys.yaml
  keystone/templates/secret-fernet-keys.yaml
  releasenotes/notes/keystone-ad96d720b9b09d47.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix the mariadb-operator values overrides
  playbooks/deploy-compute-kit.yaml
  playbooks/deploy-mariadb-operator.yaml
  roles/deploy-charts/defaults/main.yaml
  roles/deploy-charts/tasks/mariadb-operator-instance.yaml
  roles/deploy-charts/tasks/mariadb-operator-storage.yaml
  roles/deploy-charts/tasks/mariadb-operator.yaml
  tools/deployment/common/verify-mariadb-tls.sh
  values_overrides/aodh/mariadb-operator.yaml
  values_overrides/barbican/mariadb-operator.yaml
  values_overrides/blazar/mariadb-operator.yaml
  values_overrides/cinder/mariadb-operator.yaml
  values_overrides/cloudkitty/mariadb-operator.yaml
  values_overrides/cyborg/mariadb-operator.yaml
  values_overrides/designate/mariadb-operator.yaml
  values_overrides/freezer/mariadb-operator.yaml
  values_overrides/glance/mariadb-operator.yaml
  values_overrides/gnocchi/mariadb-operator.yaml
  values_overrides/grafana/mariadb-operator.yaml
  values_overrides/heat/mariadb-operator.yaml
  values_overrides/ironic/mariadb-operator.yaml
  values_overrides/keystone/mariadb-operator.yaml
  values_overrides/magnum/mariadb-operator.yaml
  values_overrides/manila/mariadb-operator.yaml
  values_overrides/masakari/mariadb-operator.yaml
  values_overrides/mistral/mariadb-operator.yaml
  values_overrides/neutron/mariadb-operator.yaml
  values_overrides/nova/mariadb-operator.yaml
  values_overrides/octavia/mariadb-operator.yaml
  values_overrides/placement/mariadb-operator.yaml
  values_overrides/rally/mariadb-operator.yaml
  values_overrides/tacker/mariadb-operator.yaml
  values_overrides/trove/mariadb-operator.yaml
  values_overrides/watcher/mariadb-operator.yaml
  zuul.d/2026.1-ubuntu_noble.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Spec: declarative MariaDB database management
  doc/source/specs/2026.1/mariadb_crd.rst
  doc/source/specs/index.rst
Due: none

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*, ^nova/.*, ^neutron/.*
  openstack-helm-linter: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-bandit: (any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-bandit.yaml$) or (any of: ^.*\.py\.tpl$, ^.*\.py$)
  openstack-helm-skyline: any of: skyline/.*
  openstack-helm-octavia: unless all of: ^.*\.rst$, ^.*\.rst.gotmpl$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-federated-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-local-storage: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-mariadb-operator-2025-1-ubuntu_jammy: any of: ^roles/.*, ^mariadb-cluster/.*, ^tools/.*
  openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
  openstack-helm-ceph-migrate: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*, ^tools/deployment/ceph/.*
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-lint: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-lint-osh: any of: ^helm-toolkit/.*$
  openstack-helm-infra-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-infra-bandit.yaml$
  openstack-helm-infra-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-metacontroller: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal: any of: ^roles/.*, ^mariadb-cluster/.*
  openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*
  openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^ovn/.*
  openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^memcached/.*, ^openvswitch/.*
  openstack-helm-infra-cinder-2023-1-ubuntu_focal: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*
  openstack-helm-infra-cinder-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^tools/deployment/ceph-rook\.sh$, ^tools/deployment/ceph-adapter-rook\.sh$
  openstack-helm-infra-tls-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
