Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-skyline, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*, ^nova/.*, ^neutron/.*
  openstack-helm-linter: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-bandit: (any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-bandit.yaml$) or (any of: ^.*\.py\.tpl$, ^.*\.py$)
  openstack-helm-skyline: any of: skyline/.*
  openstack-helm-octavia: unless all of: ^.*\.rst$, ^.*\.rst.gotmpl$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-federated-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-local-storage: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-mariadb-operator-2025-1-ubuntu_jammy: any of: ^roles/.*, ^mariadb-cluster/.*, ^tools/.*
  openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
  openstack-helm-ceph-migrate: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*, ^tools/deployment/ceph/.*
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-lint: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-lint-osh: any of: ^helm-toolkit/.*$
  openstack-helm-infra-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-infra-bandit.yaml$
  openstack-helm-infra-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-metacontroller: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal: any of: ^roles/.*, ^mariadb-cluster/.*
  openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*
  openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^ovn/.*
  openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^memcached/.*, ^openvswitch/.*
  openstack-helm-infra-cinder-2023-1-ubuntu_focal: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*
  openstack-helm-infra-cinder-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^tools/deployment/ceph-rook\.sh$, ^tools/deployment/ceph-adapter-rook\.sh$
  openstack-helm-infra-tls-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*

fix(nova): give the ceph keyring init containers a security context
  nova/values.yaml
  releasenotes/notes/nova-8b5554acf6d40225.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

fix(nova): fix the novncproxy init-assets security context key
  nova/templates/deployment-novncproxy.yaml
  nova/values.yaml
  releasenotes/notes/nova-130409f63120dd02.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

fix(nova): size the remaining unsized init containers
  nova/templates/daemonset-compute.yaml
  nova/templates/job-bootstrap.yaml
  nova/templates/job-cell-setup.yaml
  nova/templates/job-nova-storage-init.yaml
  releasenotes/notes/nova-f3ab8f35d0347355.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

fix(nova): add the StatefulSet governing services and upgrade policy
  nova/templates/service-compute-ironic.yaml
  nova/templates/service-conductor.yaml
  nova/templates/service-scheduler.yaml
  nova/templates/statefulset-compute-ironic.yaml
  nova/values.yaml
  releasenotes/notes/nova-5946cedd305e5e53.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

fix(nova): select the serialproxy pods in the serialproxy service
  nova/templates/service-serialproxy.yaml
  releasenotes/notes/nova-c7f9310f7905ad80.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(nova): run the conductor and scheduler as StatefulSets
  nova/templates/deployment-conductor.yaml
  nova/templates/deployment-scheduler.yaml
  nova/templates/statefulset-conductor.yaml
  nova/templates/statefulset-scheduler.yaml
  nova/values.yaml
  releasenotes/notes/nova-866b6b0fe0cdd7d8.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Stop the metadata check failing on DHCP agent restarts
  neutron/templates/bin/_health-probe.py.tpl
  neutron/templates/daemonset-dhcp-agent.yaml
  releasenotes/notes/neutron-1d76ef5e7cfc02ac.yaml
  roles/deploy-charts/defaults/main.yaml
  roles/deploy-charts/files/nova_test.sh
  roles/deploy-charts/tasks/_install.yaml
  roles/deploy-charts/tasks/prepare-charts.yaml
  roles/deploy-charts/tasks/rabbitmq.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

ci: give each build its own VXLAN overlay
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/tasks/overlay.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Let callers set the openstack CLI wrapper's image
  roles/deploy-charts/defaults/main.yaml
  roles/deploy-charts/tasks/setup-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Let callers set the deploy-env dnsmasq container user
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/tasks/floating_network.yaml
  roles/deploy-env/tasks/public_endpoints.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

ci(barbican): give the gate a KEK and run barbican's helm test
  roles/deploy-charts/tasks/barbican.yaml
  zuul.d/2026.1-ubuntu_noble.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

rabbitmq: change how rabbitmq-test script determines scheme
  rabbitmq/templates/bin/_rabbitmq-test.sh.tpl
  rabbitmq/templates/pod-test.yaml
  releasenotes/notes/rabbitmq-cf72eadefaca8a08.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Declarative MariaDB database management for barbican and grafana
  barbican/templates/mariadb-db.yaml
  barbican/values.yaml
  grafana/templates/configmap-etc.yaml
  grafana/templates/deployment.yaml
  grafana/templates/job-run-migrator.yaml
  grafana/templates/job-set-admin-user.yaml
  grafana/templates/mariadb-db.yaml
  grafana/values.yaml
  releasenotes/notes/mariadb-crd-barbican-grafana-781cec1be518bcbc.yaml
  values_overrides/barbican/mariadb-crd.yaml
  values_overrides/barbican/mariadb-operator.yaml
  values_overrides/grafana/mariadb-crd.yaml
  values_overrides/grafana/mariadb-operator.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Let tempest's projects boot the bootstrap image
  roles/deploy-charts/tasks/tempest.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Let tempest create its own tenant networks
  roles/deploy-charts/tasks/tempest.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Log in to the CirrOS servers as cirros
  roles/deploy-charts/tasks/tempest.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Tell tempest whether horizon is deployed
  roles/deploy-charts/tasks/tempest.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Give tempest the network extensions neutron actually has
  roles/deploy-charts/tasks/tempest.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Bound the tempest run by osh_tempest_timeout
  roles/deploy-charts/tasks/tempest.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

[deploy-charts] Match ceph-adapter-rook mon_count to deployed mons
  roles/deploy-charts/tasks/ceph-adapter-rook.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

fix(ironic): let conductor-init create the tempdir
  ironic/templates/statefulset-conductor.yaml
  releasenotes/notes/ironic-27fef4d3b95eb004.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Run deployment jobs only for related changes
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Run the watcher job in the check pipeline
  zuul.d/2026.1-ubuntu_noble.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller
