Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

openstack-helm-bandit:
  timeout: 3600
  run: tools/gate/playbooks/osh-bandit.yaml
  required-projects:
  - openstack/openstack-helm-infra
  nodeset: openstack-helm-single-node

openstack-helm-horizon-train-ubuntu_bionic:
  parent: openstack-helm-chart-deploy
  vars:
    osh_params:
      openstack_release: train
      container_distro_name: ubuntu
      container_distro_version: bionic
    gate_scripts_relative_path: ../openstack-helm
    gate_scripts:
    - ./tools/deployment/common/install-packages.sh
  ...

openstack-helm-infra:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  ...

openstack-helm-infra-tenant-ceph:
  parent: openstack-helm-infra-functional
  nodeset: openstack-helm-five-node-ubuntu
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  ...

openstack-helm-infra-ubuntu:
  parent: openstack-helm-infra
  nodeset: openstack-helm-ubuntu

openstack-helm-infra-centos:
  parent: openstack-helm-infra
  nodeset: openstack-helm-centos

openstack-helm-infra-fedora:
  parent: openstack-helm-infra
  nodeset: openstack-helm-fedora

openstack-helm-infra-aio-logging:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-aio-monitoring:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-aio-network-policy:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-apparmor:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run: playbooks/osh-infra-upgrade-host.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-five-ubuntu:
  parent: openstack-helm-infra
  nodeset: openstack-helm-five-node-ubuntu

Fix OpenStack_CLI usage specification about heat
  tools/deployment/multinode/150-heat.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

[htk] Jobs; put labels only in the template spec
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/manifests/_job-bootstrap.tpl
  helm-toolkit/templates/manifests/_job-db-drop-mysql.tpl
  helm-toolkit/templates/manifests/_job-db-init-mysql.tpl
  helm-toolkit/templates/manifests/_job-db-sync.tpl
  helm-toolkit/templates/manifests/_job-ks-endpoints.tpl
  helm-toolkit/templates/manifests/_job-ks-service.tpl
  helm-toolkit/templates/manifests/_job-ks-user.yaml.tpl
  helm-toolkit/templates/manifests/_job-rabbit-init.yaml.tpl
  helm-toolkit/templates/manifests/_job-s3-bucket.yaml.tpl
  helm-toolkit/templates/manifests/_job-s3-user.yaml.tpl
  helm-toolkit/templates/manifests/_job_image_repo_sync.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Elasticsearch S3 Update
  elasticsearch/Chart.yaml
  elasticsearch/templates/bin/_create_s3_users.sh.tpl
  elasticsearch/templates/bin/_create_template.sh.tpl
  elasticsearch/templates/bin/_elasticsearch.sh.tpl
  elasticsearch/templates/bin/_helm-tests.sh.tpl
  elasticsearch/templates/bin/_register-repository.sh.tpl
  elasticsearch/templates/bin/_verify-repositories.sh.tpl
  elasticsearch/templates/configmap-bin-elasticsearch.yaml
  elasticsearch/templates/configmap-etc-elasticsearch.yaml
  elasticsearch/templates/deployment-client.yaml
  elasticsearch/templates/deployment-gateway.yaml
  elasticsearch/templates/job-register-snapshot-repository.yaml
  elasticsearch/templates/job-s3-bucket.yaml
  elasticsearch/templates/job-s3-user.yaml
  elasticsearch/templates/secret-s3-user.yaml
  elasticsearch/templates/statefulset-data.yaml
  elasticsearch/templates/statefulset-master.yaml
  elasticsearch/values.yaml
  elasticsearch/values_overrides/apparmor.yaml
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/manifests/_job-s3-bucket.yaml.tpl
  helm-toolkit/templates/manifests/_job-s3-user.yaml.tpl
  helm-toolkit/templates/scripts/_create-s3-bucket.sh.tpl
  helm-toolkit/templates/snippets/_rgw_s3_secret_creds.tpl
  helm-toolkit/templates/snippets/_rgw_s3_user_env_vars.tpl
  releasenotes/notes/elasticsearch.yaml
  releasenotes/notes/helm-toolkit.yaml
  tools/deployment/osh-infra-logging/030-radosgw-osh-infra.sh
  tools/deployment/osh-infra-logging/050-elasticsearch.sh
  zuul.d/jobs.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable TLS for Ceph RGW
  ceph-rgw/Chart.yaml
  ceph-rgw/templates/bin/_helm-tests.sh.tpl
  ceph-rgw/templates/bin/rgw/_init.sh.tpl
  ceph-rgw/templates/certificates.yaml
  ceph-rgw/templates/deployment-rgw.yaml
  ceph-rgw/templates/ingress-rgw.yaml
  ceph-rgw/templates/service-rgw.yaml
  ceph-rgw/values.yaml
  ceph-rgw/values_overrides/tls.yaml
  release.asc
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Move shaker chart from osh-addons
  releasenotes/config.yaml
  releasenotes/notes/shaker.yaml
  shaker/Chart.yaml
  shaker/requirements.yaml
  shaker/templates/bin/_run-tests.sh.tpl
  shaker/templates/configmap-bin.yaml
  shaker/templates/configmap-etc.yaml
  shaker/templates/job-image-repo-sync.yaml
  shaker/templates/job-ks-user.yaml
  shaker/templates/pod-shaker-test.yaml
  shaker/templates/pvc-shaker.yaml
  shaker/templates/secret-keystone.yaml
  shaker/templates/service-shaker.yaml
  shaker/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Implement "CSRF_COOKIE_HTTPONLY" option support in horizon
  horizon/Chart.yaml
  horizon/values.yaml
  horizon/values_overrides/tls.yaml
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add ISCSI Multipath support when enable_iscsi true
  cinder/Chart.yaml
  cinder/templates/bin/_multipath.tpl
  cinder/templates/bin/_multipathd.tpl
  cinder/templates/configmap-bin.yaml
  cinder/templates/deployment-volume.yaml
  nova/Chart.yaml
  nova/templates/bin/_multipath.tpl
  nova/templates/bin/_multipathd.tpl
  nova/templates/configmap-bin.yaml
  nova/templates/daemonset-compute.yaml
  releasenotes/notes/cinder.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add Health metrics pool device_health_metrics introduced in Nautilus release
  tools/deployment/component/ceph/ceph.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(doc): fixes a typo
  doc/source/install/developer/deploy-ovs-dpdk.rst
Due: none

Update file mode for 910-clean-it.sh script
  tools/deployment/developer/common/910-clean-it.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Elasticsearch: Make templates job more robust
  elasticsearch/Chart.yaml
  elasticsearch/templates/bin/_create_s3_buckets.sh.tpl
  elasticsearch/templates/bin/_create_template.sh.tpl
  elasticsearch/templates/bin/_helm-tests.sh.tpl
  elasticsearch/templates/configmap-bin-elasticsearch.yaml
  elasticsearch/values.yaml
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/scripts/_create-s3-bucket.sh.tpl
  helm-toolkit/templates/scripts/_create-s3-user.sh.tpl
  releasenotes/notes/elasticsearch.yaml
  releasenotes/notes/helm-toolkit.yaml
  tools/deployment/osh-infra-logging/050-elasticsearch.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Refactor Ceph OSD Init Scripts - First PS
  ceph-osd/Chart.yaml
  ceph-osd/templates/bin/osd/_directory.sh.tpl
  ceph-osd/templates/bin/osd/ceph-disk/_block.sh.tpl
  ceph-osd/templates/bin/osd/ceph-disk/_bluestore.sh.tpl
  ceph-osd/templates/bin/osd/ceph-disk/_common.sh.tpl
  ceph-osd/templates/bin/osd/ceph-disk/_init-with-ceph-disk.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_init-ceph-volume-helper-block-logical.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_init-ceph-volume-helper-bluestore.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_init-ceph-volume-helper-directory.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_init-with-ceph-volume.sh.tpl
  ceph-osd/templates/configmap-bin.yaml
  ceph-osd/templates/daemonset-osd.yaml
  ceph-osd/values.yaml
  releasenotes/notes/ceph-osd.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Adjust Prometheus http readiness probe path from /status to /-/ready
  prometheus/Chart.yaml
  prometheus/templates/statefulset.yaml
  releasenotes/notes/prometheus.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[fix] Update the ES curator config
  elasticsearch/Chart.yaml
  elasticsearch/values.yaml
  releasenotes/notes/elasticsearch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Support override of ovs probes
  openvswitch/Chart.yaml
  openvswitch/templates/daemonset-ovs-vswitchd.yaml
  openvswitch/values_overrides/vswitchd-probes.yaml
  releasenotes/notes/openvswitch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enhancements to make stats cachedump configurable
  memcached/Chart.yaml
  memcached/templates/bin/_memcached.sh.tpl
  memcached/values.yaml
  releasenotes/notes/memcached.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix the problem in hostNetwork mode
  cinder/Chart.yaml
  cinder/templates/deployment-backup.yaml
  cinder/templates/deployment-volume.yaml
  releasenotes/notes/cinder.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update tls overrides
  ceph-rgw/Chart.yaml
  ceph-rgw/values_overrides/tls.yaml
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove releasenotes from irrelevant files for linter
  zuul.d/jobs.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Removed hard-coded value for backendPort
  prometheus/Chart.yaml
  prometheus/templates/ingress-prometheus.yaml
  releasenotes/notes/prometheus.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[Neutron] Update Rally tests
  neutron/Chart.yaml
  neutron/values.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Elasticsearch: Add configurable backoffLimit to templates job
  elasticsearch/Chart.yaml
  elasticsearch/templates/job-elasticsearch-template.yaml
  elasticsearch/values.yaml
  releasenotes/notes/elasticsearch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Make ceph-client helm test more PG specific
  ceph-client/Chart.yaml
  ceph-client/templates/bin/_helm-tests.sh.tpl
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-troubleshooting.po
  doc/source/locale/de/LC_MESSAGES/doc.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  doc/source/locale/id/LC_MESSAGES/doc-install.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix the nova-compute-ironic label issue
  nova/Chart.yaml
  nova/templates/statefulset-compute-ironic.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix race condition for grastate.dat
  mariadb/Chart.yaml
  mariadb/templates/bin/_start.py.tpl
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add conditional wrapper to helm hook
  keystone/Chart.yaml
  keystone/templates/job-credential-setup.yaml
  keystone/templates/job-fernet-setup.yaml
  keystone/templates/secret-credential-keys.yaml
  keystone/templates/secret-fernet-keys.yaml
  keystone/values.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Host resource scale adjustment about ironic
  nova/Chart.yaml
  nova/values.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[Update] ES helm-test script updated
  elasticsearch/Chart.yaml
  elasticsearch/templates/bin/_helm-tests.sh.tpl
  releasenotes/notes/elasticsearch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Imported Translations from Zanata
  doc/source/locale/en_GB/LC_MESSAGES/doc-install.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Keystone: Fix error - wrong number of args for set
  keystone/Chart.yaml
  keystone/templates/job-db-init.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Updated mysqld-exporter image
  mariadb/Chart.yaml
  mariadb/values.yaml
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Uplift mariadb version and ubuntu release
  mariadb/Chart.yaml
  mariadb/values.yaml
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove hook-delete-policy default settings from HTK
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/manifests/_job-bootstrap.tpl
  helm-toolkit/templates/manifests/_job-db-init-mysql.tpl
  helm-toolkit/templates/manifests/_job-db-sync.tpl
  helm-toolkit/templates/manifests/_job-ks-endpoints.tpl
  helm-toolkit/templates/manifests/_job-ks-service.tpl
  helm-toolkit/templates/manifests/_job-ks-user.yaml.tpl
  helm-toolkit/templates/manifests/_job-rabbit-init.yaml.tpl
  helm-toolkit/templates/manifests/_job-s3-bucket.yaml.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable TLS between Elasticsearch and Kibana
  elasticsearch/Chart.yaml
  elasticsearch/templates/bin/_create_s3_buckets.sh.tpl
  elasticsearch/templates/bin/_create_template.sh.tpl
  elasticsearch/templates/bin/_elasticsearch.sh.tpl
  elasticsearch/templates/bin/_helm-tests.sh.tpl
  elasticsearch/templates/bin/_verify-repositories.sh.tpl
  elasticsearch/templates/certificates.yaml
  elasticsearch/templates/cron-job-verify-repositories.yaml
  elasticsearch/templates/deployment-client.yaml
  elasticsearch/templates/ingress-elasticsearch.yaml
  elasticsearch/templates/job-elasticsearch-template.yaml
  elasticsearch/templates/pod-helm-tests.yaml
  elasticsearch/templates/secret-elasticsearch.yaml
  elasticsearch/templates/service-logging.yaml
  elasticsearch/templates/statefulset-data.yaml
  elasticsearch/values.yaml
  elasticsearch/values_overrides/tls.yaml
  fluentd/Chart.yaml
  fluentd/templates/daemonset.yaml
  fluentd/values.yaml
  fluentd/values_overrides/tls.yaml
  kibana/Chart.yaml
  kibana/templates/deployment.yaml
  kibana/templates/job-flush-kibana-metadata.yaml
  kibana/values.yaml
  kibana/values_overrides/tls.yaml
  releasenotes/notes/elasticsearch.yaml
  releasenotes/notes/fluentd.yaml
  releasenotes/notes/kibana.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Zuul.d: Making TLS gate voting again
  zuul.d/jobs-openstack-helm.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

chore(tiller): removes tiller chart
  tiller/Chart.yaml
  tiller/requirements.yaml
  tiller/templates/configmap-bin.yaml
  tiller/templates/deployment-tiller.yaml
  tiller/templates/job-image-repo-sync.yaml
  tiller/templates/service-tiller-deploy.yaml
  tiller/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update helm hook conditionals
  keystone/Chart.yaml
  keystone/templates/job-db-init.yaml
  keystone/templates/job-db-sync.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-kubernetes-keystone-auth: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-deploy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-uuid: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-passwords: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-airship-divingbell: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-podsecuritypolicy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
