Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-skyline, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*, ^nova/.*, ^neutron/.*
  openstack-helm-linter: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-bandit: (any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-bandit.yaml$) or (any of: ^.*\.py\.tpl$, ^.*\.py$)
  openstack-helm-skyline: any of: skyline/.*
  openstack-helm-octavia: unless all of: ^.*\.rst$, ^.*\.rst.gotmpl$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-federated-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-local-storage: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-mariadb-operator-2025-1-ubuntu_jammy: any of: ^roles/.*, ^mariadb-cluster/.*, ^tools/.*
  openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
  openstack-helm-ceph-migrate: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*, ^tools/deployment/ceph/.*
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-lint: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-lint-osh: any of: ^helm-toolkit/.*$
  openstack-helm-infra-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-infra-bandit.yaml$
  openstack-helm-infra-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-metacontroller: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal: any of: ^roles/.*, ^mariadb-cluster/.*
  openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*
  openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^ovn/.*
  openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^memcached/.*, ^openvswitch/.*
  openstack-helm-infra-cinder-2023-1-ubuntu_focal: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*
  openstack-helm-infra-cinder-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^tools/deployment/ceph-rook\.sh$, ^tools/deployment/ceph-adapter-rook\.sh$
  openstack-helm-infra-tls-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*

fix(tls): keep the request port in the nginx sidecar Host header
  values_overrides/aodh/tls-gateway-and-sidecar.yaml
  values_overrides/cinder/tls-gateway-and-sidecar.yaml
  values_overrides/glance/tls-gateway-and-sidecar.yaml
  values_overrides/gnocchi/tls-gateway-and-sidecar.yaml
  values_overrides/heat/tls-gateway-and-sidecar.yaml
  values_overrides/horizon/tls-gateway-and-sidecar.yaml
  values_overrides/keystone/tls-gateway-and-sidecar.yaml
  values_overrides/neutron/tls-gateway-and-sidecar.yaml
  values_overrides/nova/tls-gateway-and-sidecar.yaml
  values_overrides/placement/tls-gateway-and-sidecar.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

masakari: Fix typo in manage-db.sh
  masakari/templates/bin/_manage-db.sh.tpl
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

deploy: wait for the bootstrap token signature before joining
  roles/deploy-env/tasks/k8s_control_plane.yaml
  roles/deploy-env/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

deploy: do not retry kubeadm join
  roles/deploy-env/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Declarative MariaDB database management
  cinder/templates/mariadb-db.yaml
  cinder/values.yaml
  glance/templates/mariadb-db.yaml
  glance/values.yaml
  heat/templates/mariadb-db.yaml
  heat/values.yaml
  helm-toolkit/templates/snippets/_kubernetes_pod_rbac_roles.tpl
  helm-toolkit/templates/snippets/_kubernetes_pod_rbac_serviceaccount.tpl
  keystone/templates/mariadb-db.yaml
  keystone/values.yaml
  mariadb/templates/bin/_mariadb_db_controller.py.tpl
  mariadb/templates/configmap-bin.yaml
  mariadb/templates/crds.yaml
  mariadb/templates/deployment-db-controller.yaml
  mariadb/values.yaml
  neutron/templates/mariadb-db.yaml
  neutron/values.yaml
  nova/templates/mariadb-db.yaml
  nova/values.yaml
  placement/templates/mariadb-db.yaml
  placement/values.yaml
  releasenotes/notes/mariadb-crd-9f2b7c48ad51e630.yaml
  tools/deployment/common/verify-mariadb-tls.sh
  values_overrides/cinder/mariadb-crd.yaml
  values_overrides/cinder/mariadb-operator.yaml
  values_overrides/glance/mariadb-crd.yaml
  values_overrides/glance/mariadb-operator.yaml
  values_overrides/heat/mariadb-crd.yaml
  values_overrides/heat/mariadb-operator.yaml
  values_overrides/keystone/mariadb-crd.yaml
  values_overrides/keystone/mariadb-operator.yaml
  values_overrides/mariadb/mariadb-crd.yaml
  values_overrides/neutron/mariadb-crd.yaml
  values_overrides/neutron/mariadb-operator.yaml
  values_overrides/nova/mariadb-crd.yaml
  values_overrides/nova/mariadb-operator.yaml
  values_overrides/placement/mariadb-crd.yaml
  values_overrides/placement/mariadb-operator.yaml
  zuul.d/2026.1-ubuntu_noble.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

feat(neutron): deploy periodic and ovn maintenance workers
  neutron/templates/bin/_neutron-ovn-maintenance-worker.sh.tpl
  neutron/templates/bin/_neutron-periodic-worker.sh.tpl
  neutron/templates/configmap-bin.yaml
  neutron/templates/deployment-workers.yaml
  neutron/values.yaml
  releasenotes/notes/neutron-separate-periodic-and-ovn-maintenance-workers-25d7ff84597bbef6.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Spec: declarative RabbitMQ topology management
  doc/source/specs/2026.1/rabbitmq_crd.rst
  doc/source/specs/index.rst
Due: none

neutron: exit when the WSGI application fails to load
  neutron/values.yaml
  releasenotes/notes/neutron-13e65a4fd03a1920.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fail CI when cinder storage backends are unusable
  roles/deploy-charts/tasks/cinder.yaml
  tools/deployment/common/verify-cinder-backends.sh
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Upgrade test env
  roles/deploy-env/defaults/main.yaml
  zuul.d/base.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

heat/placement: update liveness/readiness probes to use healthcheck
  heat/templates/deployment-api.yaml
  heat/templates/deployment-cfn.yaml
  heat/values.yaml
  placement/templates/deployment.yaml
  placement/values.yaml
  releasenotes/notes/heat-5e11b69793d9a78f.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Declarative RabbitMQ topology management
  cinder/templates/rabbitmq-topology.yaml
  cinder/values.yaml
  glance/templates/rabbitmq-topology.yaml
  glance/values.yaml
  heat/templates/rabbitmq-topology.yaml
  heat/values.yaml
  keystone/templates/rabbitmq-topology.yaml
  keystone/values.yaml
  neutron/templates/rabbitmq-topology.yaml
  neutron/values.yaml
  nova/templates/rabbitmq-topology.yaml
  nova/values.yaml
  playbooks/deploy-compute-kit.yaml
  rabbitmq/templates/bin/_rabbitmq_topology_controller.py.tpl
  rabbitmq/templates/configmap-bin.yaml
  rabbitmq/templates/crds.yaml
  rabbitmq/templates/deployment-topology-controller.yaml
  rabbitmq/values.yaml
  releasenotes/notes/rabbitmq-crd-6c1ea4d70b83f512.yaml
  tools/deployment/common/verify-rabbitmq-topology.sh
  values_overrides/cinder/rabbitmq-crd.yaml
  values_overrides/glance/rabbitmq-crd.yaml
  values_overrides/heat/rabbitmq-crd.yaml
  values_overrides/keystone/rabbitmq-crd.yaml
  values_overrides/neutron/rabbitmq-crd.yaml
  values_overrides/nova/rabbitmq-crd.yaml
  values_overrides/rabbitmq/rabbitmq-crd.yaml
  zuul.d/2026.1-ubuntu_noble.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

ovn: add liveness probe checking br-int OpenFlow connectivity
  ovn/templates/daemonset-controller.yaml
  ovn/values.yaml
  releasenotes/notes/ovn-b022b64fa0c07bd0.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy

ironic: Run exporter via extraContainers
  releasenotes/notes/ironic-prometheus-exporter-68c593e8af62129d.yaml
  values_overrides/ironic/prometheus-exporter.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

deploy: pin the kubeadm control plane version
  roles/deploy-env/files/kubeadm_config.yaml.j2
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

deploy: retry the flaky external downloads
  roles/deploy-env/tasks/calico.yaml
  roles/deploy-env/tasks/containerd.yaml
  roles/deploy-env/tasks/prerequisites.yaml
  roles/deploy-selenium/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Enable uwsgi need-app for the remaining charts
  aodh/values.yaml
  barbican/values.yaml
  cinder/values.yaml
  cloudkitty/values.yaml
  designate/values.yaml
  glance/values.yaml
  gnocchi/values.yaml
  heat/values.yaml
  ironic/values.yaml
  magnum/values.yaml
  manila/values.yaml
  nova/values.yaml
  octavia/values.yaml
  ovn/values.yaml
  placement/values.yaml
  releasenotes/notes/uwsgi-need-app-996eb61ab8be8f97.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy

[designate] Use designate wsgi module
  designate/values.yaml
  releasenotes/notes/designate-9b7c33eac8984932.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[ceph] Update Ceph to Tentacle 20.2.4 and Rook to 1.20.6
  ceph-adapter-rook/Chart.yaml
  ceph-adapter-rook/values.yaml
  ceph-client/Chart.yaml
  ceph-client/values.yaml
  ceph-mon/Chart.yaml
  ceph-mon/values.yaml
  ceph-osd/Chart.yaml
  ceph-osd/values.yaml
  ceph-provisioners/Chart.yaml
  ceph-provisioners/values.yaml
  ceph-rgw/Chart.yaml
  ceph-rgw/values.yaml
  elasticsearch/values.yaml
  gnocchi/values.yaml
  libvirt/values.yaml
  releasenotes/notes/ceph-adapter-rook-e190e0617beecfdb.yaml
  releasenotes/notes/ceph-client-cc4ee4650abc4c05.yaml
  releasenotes/notes/ceph-mon-00ded59f3c353933.yaml
  releasenotes/notes/ceph-osd-9a23254f042fe094.yaml
  releasenotes/notes/ceph-provisioners-90bc125e70a75b78.yaml
  releasenotes/notes/ceph-rgw-1d75a19104c79205.yaml
  releasenotes/notes/elasticsearch-7d096f1e42e5a8c7.yaml
  releasenotes/notes/gnocchi-892403ff87969d6b.yaml
  releasenotes/notes/libvirt-244f2f9e94f7b546.yaml
  roles/deploy-ceph/defaults/main.yaml
  roles/deploy-ceph/tasks/main.yaml
  roles/deploy-ceph/templates/ceph-csi-drivers-values.yaml.j2
  tools/deployment/ceph/ceph-rook.sh
  tools/deployment/ceph/migrate-to-rook-ceph.sh
  tools/deployment/ceph/migrate-values.sh
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Reconcile the RabbitMQ resources with the upstream operator
  playbooks/deploy-compute-kit.yaml
  playbooks/deploy-rabbitmq-operator.yaml
  roles/deploy-charts/defaults/main.yaml
  roles/deploy-charts/tasks/rabbitmq-operator-instance.yaml
  roles/deploy-charts/tasks/rabbitmq-operator.yaml
  tools/deployment/common/verify-rabbitmq-tls.sh
  tools/deployment/common/verify-rabbitmq-topology.sh
  values_overrides/cinder/rabbitmq-operator.yaml
  values_overrides/glance/rabbitmq-operator.yaml
  values_overrides/heat/rabbitmq-operator.yaml
  values_overrides/keystone/rabbitmq-operator.yaml
  values_overrides/neutron/rabbitmq-operator.yaml
  values_overrides/nova/rabbitmq-operator.yaml
  zuul.d/2026.1-ubuntu_noble.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

[ceph] Generate aes256k keys for CephX authentication
  ceph-mon/Chart.yaml
  ceph-mon/templates/bin/keys/_bootstrap-keyring-generator.py.tpl
  ceph-mon/templates/bin/keys/_bootstrap-keyring-manager.sh.tpl
  ceph-mon/templates/bin/keys/_storage-keyring-manager.sh.tpl
  ceph-mon/templates/configmap-bin.yaml
  ceph-mon/templates/job-keyring.yaml
  ceph-mon/templates/job-storage-admin-keys.yaml
  ceph-osd/Chart.yaml
  ceph-osd/templates/bin/osd/_directory.sh.tpl
  releasenotes/notes/ceph-mon-e6a2a58597a112c5.yaml
  releasenotes/notes/ceph-osd-359466217cf8da68.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-cinder-2023-1-ubuntu_focal

[ceph] Update Ceph image references to Noble
  ceph-adapter-rook/values.yaml
  ceph-client/values.yaml
  ceph-mon/values.yaml
  ceph-osd/values.yaml
  ceph-provisioners/values.yaml
  ceph-rgw/values.yaml
  cert-rotation/values.yaml
  cinder/values.yaml
  elasticsearch/values.yaml
  glance/values.yaml
  gnocchi/values.yaml
  libvirt/values.yaml
  nova/values.yaml
  ovn/values.yaml
  releasenotes/notes/ceph-adapter-rook-12d2e73b8dbcc607.yaml
  releasenotes/notes/ceph-client-64db6888b0a0fb82.yaml
  releasenotes/notes/ceph-mon-bc5108036bb582d1.yaml
  releasenotes/notes/ceph-osd-5cd7369f0ef9592f.yaml
  releasenotes/notes/ceph-provisioners-f0d96d1dbf308bb0.yaml
  releasenotes/notes/ceph-rgw-ecc27be918343052.yaml
  releasenotes/notes/cert-rotation-187b3b757b6e9c95.yaml
  releasenotes/notes/cinder-47b5622ae48eadb2.yaml
  releasenotes/notes/elasticsearch-e3fdcd0ee2d3af54.yaml
  releasenotes/notes/glance-5e1e0c5967ef8bde.yaml
  releasenotes/notes/gnocchi-d644641fe7a11007.yaml
  releasenotes/notes/libvirt-1efaf0933dd0d608.yaml
  releasenotes/notes/nova-7b7204872dc0c642.yaml
  releasenotes/notes/ovn-853b4cf324459878.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal

ovn: fix liveness probe to check as ovs user, not root
  ovn/templates/daemonset-controller.yaml
  releasenotes/notes/ovn-6c8611b39d27b545.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy

neutron: connect the periodic and maintenance workers
  releasenotes/notes/neutron-40c8733819576e5a.yaml
  values_overrides/neutron/mariadb-crd.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[ceph] Update cephcsi to v3.17.1 for aes256k CephX key support
  ceph-provisioners/values.yaml
  releasenotes/notes/ceph-provisioners-96c7a39a23b555bb.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-cinder-2023-1-ubuntu_focal

tox: Drop redundant passenv
  tox.ini
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

deploy: keep the OpenStack CephX keys on the aes cipher
  roles/deploy-ceph/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Fix rabbit_quorum_queues typo to rabbit_quorum_queue
  aodh/values.yaml
  barbican/values.yaml
  blazar/values.yaml
  ceilometer/values.yaml
  cinder/values.yaml
  cloudkitty/values.yaml
  cyborg/values.yaml
  designate/values.yaml
  glance/values.yaml
  heat/values.yaml
  ironic/values.yaml
  keystone/values.yaml
  magnum/values.yaml
  manila/values.yaml
  masakari/values.yaml
  mistral/values.yaml
  neutron/values.yaml
  nova/values.yaml
  octavia/values.yaml
  releasenotes/notes/common-fix-rabbit-quorum-queue-typo-bdafd9c675b4f0ff.yaml
  tacker/values.yaml
  trove/values.yaml
  watcher/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

masakari: set kubernetes driver as default for host-monitor masakari-host-monitor changed to deployment Task: 55600 Story: 2011878
  masakari/templates/deployment-host-monitor.yaml
  masakari/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

neutron: fix the health probe for the OVN agent
  neutron/templates/bin/_health-probe.py.tpl
  releasenotes/notes/neutron-ovn-agent-health-probe-aad5b735bf150944.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

ci: fix the octavia image and kubeadm join flakes
  roles/deploy-charts/defaults/main.yaml
  roles/deploy-charts/tasks/octavia_resources.yaml
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/tasks/main.yaml
  roles/gather-host-logs/tasks/main.yaml
  tools/deployment/component/octavia/heat_octavia_env.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Fixing permanent secrets for keystone
  keystone/templates/bin/_fernet-manage.py.tpl
  keystone/templates/job-credential-setup.yaml
  keystone/templates/job-fernet-setup.yaml
  keystone/templates/secret-credential-keys.yaml
  keystone/templates/secret-fernet-keys.yaml
  keystone/values.yaml
  releasenotes/notes/keystone-f95176e8dc9023c7.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Wait natively instead of via the openstack-helm plugin
  roles/deploy-charts/tasks/_install.yaml
  roles/deploy-charts/tasks/_wait.yaml
  roles/deploy-charts/tasks/mariadb-backup.yaml
  roles/deploy-charts/tasks/mariadb-operator.yaml
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/tasks/k8s_client.yaml
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Make deploy-env fail on the task that actually broke
  playbooks/deploy-env.yaml
  releasenotes/notes/deploy-env-fail-loudly-0031691ccdaf9828.yaml
  roles/deploy-env/tasks/calico.yaml
  roles/deploy-env/tasks/cert_manager.yaml
  roles/deploy-env/tasks/cilium.yaml
  roles/deploy-env/tasks/client_cluster_ssh.yaml
  roles/deploy-env/tasks/client_cluster_tunnel.yaml
  roles/deploy-env/tasks/containerd.yaml
  roles/deploy-env/tasks/coredns_resolver.yaml
  roles/deploy-env/tasks/env_inventory.yaml
  roles/deploy-env/tasks/floating_network.yaml
  roles/deploy-env/tasks/gatewayapi_envoy.yaml
  roles/deploy-env/tasks/k8s_control_plane.yaml
  roles/deploy-env/tasks/loopback_devices.yaml
  roles/deploy-env/tasks/main.yaml
  roles/deploy-env/tasks/overlay.yaml
  roles/deploy-env/tasks/public_endpoints.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Fix Octavia driver agent socket sharing
  octavia/templates/deployment-api.yaml
  octavia/templates/deployment-driver-agent.yaml
  octavia/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[designate] Render the bootstrap job with the helm-toolkit macro
  designate/templates/job-bootstrap.yaml
  designate/values.yaml
  releasenotes/notes/designate-bootstrap-job-toolkit-macro-3f7c1a9e2b4d6085.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

fix(neutron): thread ovn.ini into the ironic agent
  neutron/templates/bin/_neutron-ironic-agent.sh.tpl
  neutron/templates/deployment-ironic-agent.yaml
  releasenotes/notes/neutron-34f3ae5c8657fb36.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller
