Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-skyline, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy:
  description: 'Run the openstack-helm compute-kit job with DPDK enabled.
  
    We use single node environment to run this job which means
  
    that the job only tests that QEMU and OVS-DPDK are working
  
    together. The job does not assume having specific DPDK hardware.
  
    '
  ...

openstack-helm-linter:
  run: playbooks/lint.yaml
  nodeset: openstack-helm-1node-ubuntu_jammy
  required-projects:
  - openstack/openstack-helm
  pre-run:
  - playbooks/inject-keys.yaml

openstack-helm-bandit:
  roles:
  - zuul: openstack/openstack-helm
  - zuul: zuul/zuul-jobs
  required-projects:
  - openstack/openstack-helm
  pre-run: playbooks/prepare-hosts.yaml
  post-run: playbooks/collect-logs.yaml
  run: playbooks/osh-bandit.yaml
  vars:
    helm_version: v3.6.3
    bandit_version: 1.7.1

openstack-helm-skyline:
  parent: openstack-helm-deploy
  timeout: 10800
  vars:
    gate_scripts:
    - ./tools/deployment/common/prepare-bashrc.sh
    - ./tools/deployment/common/prepare-k8s.sh
    - ./tools/deployment/common/prepare-charts.sh
    - ./tools/deployment/common/setup-client.sh
  ...

openstack-helm-octavia:
  parent: openstack-helm-deploy
  timeout: 10800
  vars:
    gate_scripts:
    - ./tools/deployment/common/prepare-bashrc.sh
    - ./tools/deployment/common/prepare-k8s.sh
    - ./tools/deployment/common/prepare-charts.sh
    - ./tools/deployment/common/setup-client.sh
  ...

openstack-helm-infra:
  parent: openstack-helm-infra-functional
  timeout: 7200
  roles:
  - zuul: zuul/zuul-jobs
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  ...

openstack-helm-infra-tenant-ceph:
  parent: openstack-helm-infra-functional
  nodeset: openstack-helm-3nodes-ubuntu_focal
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  ...

openstack-helm-infra-federated-monitoring:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    gate_scripts_relative_path: ../openstack-helm-infra
  ...

openstack-helm-infra-aio-network-policy:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    gate_scripts_relative_path: ../openstack-helm-infra
    gate_scripts:
  ...

openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy:
  parent: openstack-helm-compute-kit-2025-1-ubuntu_jammy
  vars:
    osh_params:
      feature_gates: ingress-service

Vnc ca/key/cert must persist in case container restarts
  libvirt/templates/bin/_libvirt.sh.tpl
  releasenotes/notes/libvirt-f81d6fc0b0094209.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy

nova: Fix issue with empty etcSources for novncproxy
  nova/templates/deployment-novncproxy.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix keystone WSGI script path in TLS override
  values_overrides/keystone/tls.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix placement WSGI script path in TLS override
  values_overrides/placement/tls.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add support for Gateway API
  doc/source/install/OSH_GatewayAPI.svg
  doc/source/install/openstack.rst
  doc/source/install/prerequisites.rst
  neutron/values.yaml
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/files/calico_patch.yaml
  roles/deploy-env/files/nginx_tcp_proxy.conf
  roles/deploy-env/tasks/floating_network.yaml
  roles/deploy-env/tasks/gatewayapi_envoy.yaml
  roles/deploy-env/tasks/ingress_metallb_endpoint.yaml
  roles/deploy-env/tasks/main.yaml
  roles/deploy-env/tasks/metallb.yaml
  roles/deploy-env/tasks/public_endpoints.yaml
  tools/deployment/common/openstack-exporter.sh
  tools/deployment/common/setup-client.sh
  tools/deployment/common/use-it.sh
  tools/deployment/component/compute-kit/compute-kit.sh
  tools/deployment/component/freezer/freezer_smoke_test.sh
  tools/deployment/component/glance/glance.sh
  tools/deployment/component/heat/heat.sh
  tools/deployment/component/keystone/keystone.sh
  values_overrides/glance/gateway.yaml
  values_overrides/heat/gateway.yaml
  values_overrides/keystone/gateway.yaml
  values_overrides/neutron/gateway.yaml
  values_overrides/nova/gateway.yaml
  values_overrides/placement/gateway.yaml
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

nova: Remove memcache configs from `[ironic]` section
  nova/templates/configmap-etc.yaml
  releasenotes/notes/nova-4b998ef222e57fd1.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

nova: Make ironic Keystone user for Nova optional
  nova/templates/job-ks-user.yaml
  nova/templates/secret-ks-etc.yaml
  releasenotes/notes/nova-9df2dfa1e3521305.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(nova): Allow users to set 'host' for scheduler and conductor services
  nova/templates/bin/_health-probe.py.tpl
  nova/templates/bin/_nova-conductor.sh.tpl
  nova/templates/deployment-conductor.yaml
  nova/templates/statefulset-conductor.yaml
  nova/templates/statefulset-scheduler.yaml
  nova/values.yaml
  releasenotes/notes/nova-69cb1a01b6f5c561.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

placement: split service accounts from placement.conf
  placement/templates/configmap-etc.yaml
  placement/templates/deployment.yaml
  placement/templates/secret-ks-etc.yaml
  placement/values.yaml
  releasenotes/notes/placement-2b023904bc06028b.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

aodh: Fix labels indentation for api Deployment
  aodh/templates/deployment-api.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix heat WSGI script paths in TLS override
  heat/templates/bin/_heat-api.sh.tpl
  heat/templates/bin/_heat-cfn.sh.tpl
  heat/templates/deployment-api.yaml
  heat/templates/deployment-cfn.yaml
  values_overrides/heat/tls.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix cinder WSGI script path in TLS override
  cinder/templates/bin/_cinder-api.sh.tpl
  cinder/templates/deployment-api.yaml
  values_overrides/cinder/tls.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[deploy-env] Make overlay network optional
  roles/deploy-env/tasks/public_endpoints.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Fix nova WSGI script paths in TLS override
  nova/templates/bin/_nova-api-metadata.sh.tpl
  nova/templates/bin/_nova-api.sh.tpl
  nova/templates/deployment-api-metadata.yaml
  nova/templates/deployment-api-osapi.yaml
  values_overrides/nova/tls.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat: Replace ironic-api with uWSGI for the API server
  ironic/templates/bin/_ironic-api.sh.tpl
  ironic/templates/configmap-etc.yaml
  ironic/templates/deployment-api.yaml
  ironic/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Fix OVN controller when defining ovn-remote in values
  ovn/templates/bin/_ovn-controller-init.sh.tpl
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy

Add support for etcSources to glance-metadefs-load Job
  glance/templates/bin/_metadefs-load.sh.tpl
  glance/templates/job-metadefs-load.yaml
  glance/values.yaml
  releasenotes/notes/glance-79dad0da1e27df42.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add --config-dir option to neutron-ovn-db-sync-util
  neutron/templates/bin/_neutron-ovn-db-sync.sh.tpl
  releasenotes/notes/neutron-4f9263300df02c9b.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[nova] Fix nova bootstrap script
  ldap/templates/bin/_bootstrap.sh.tpl
  ldap/templates/statefulset.yaml
  ldap/values.yaml
  nova/values.yaml
  releasenotes/notes/ldap-4737a2ba0a8a499f.yaml
  releasenotes/notes/nova-5bb93c130c2a280d.yaml
  tools/deployment/component/compute-kit/compute-kit.sh
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

helm-toolkit: make static job depends enable/disable based on job
  helm-toolkit/templates/snippets/_kubernetes_entrypoint_init_container.tpl
  helm-toolkit/templates/snippets/_kubernetes_pod_rbac_serviceaccount.tpl
  helm-toolkit/templates/utils/_dependency_jobs.tpl
  helm-toolkit/templates/utils/_dependency_resolver.tpl
  releasenotes/notes/helm-toolkit-9618f6c4379c13bc.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

keystone: Remove endpoint-update.py
  keystone/templates/bin/_db-sync.sh.tpl
  keystone/templates/bin/_endpoint-update.py.tpl
  keystone/templates/configmap-bin.yaml
  keystone/templates/job-db-sync.yaml
  releasenotes/notes/keystone-17cdfeb53f6eb5dd.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

ovn: Add apiVersion and kind to volumeClaimTemplates
  ovn/templates/statefulset-ovsdb-nb.yaml
  ovn/templates/statefulset-ovsdb-sb.yaml
  releasenotes/notes/ovn-53e7ddb42d51e7c9.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy

Use Ubuntu Noble images by default
  mariadb-backup/values.yaml
  mariadb-cluster/values.yaml
  openvswitch/values.yaml
  releasenotes/notes/mariadb-backup-c27eb2dc0a56a7ed.yaml
  releasenotes/notes/mariadb-cluster-4672d16769afdb47.yaml
  releasenotes/notes/openvswitch-c123b289b476575a.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Use Helm 4
  roles/deploy-env/defaults/main.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Improve health-probe.py config parsing
  nova/templates/bin/_health-probe.py.tpl
  releasenotes/notes/nova-6b1d99fb5c67b2dd.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

update HTTPRoute overrides to be more DRY
  values_overrides/aodh/gateway.yaml
  values_overrides/barbican/gateway.yaml
  values_overrides/blazar/gateway.yaml
  values_overrides/ceph-rgw/gateway.yaml
  values_overrides/cinder/gateway.yaml
  values_overrides/cloudkitty/gateway.yaml
  values_overrides/cyborg/gateway.yaml
  values_overrides/designate/gateway.yaml
  values_overrides/elasticsearch/gateway.yaml
  values_overrides/freezer/gateway.yaml
  values_overrides/glance/gateway.yaml
  values_overrides/gnocchi/gateway.yaml
  values_overrides/grafana/gateway.yaml
  values_overrides/heat/gateway.yaml
  values_overrides/horizon/gateway.yaml
  values_overrides/ironic/gateway.yaml
  values_overrides/keystone/gateway.yaml
  values_overrides/kibana/gateway.yaml
  values_overrides/kubernetes-keystone-webhook/gateway.yaml
  values_overrides/magnum/gateway.yaml
  values_overrides/manila/gateway.yaml
  values_overrides/mistral/gateway.yaml
  values_overrides/nagios/gateway.yaml
  values_overrides/neutron/gateway.yaml
  values_overrides/nova/gateway.yaml
  values_overrides/octavia/gateway.yaml
  values_overrides/placement/gateway.yaml
  values_overrides/prometheus-alertmanager/gateway.yaml
  values_overrides/prometheus/gateway.yaml
  values_overrides/rabbitmq/gateway.yaml
  values_overrides/skyline/gateway.yaml
  values_overrides/swift/gateway.yaml
  values_overrides/tacker/gateway.yaml
  values_overrides/trove/gateway.yaml
  values_overrides/watcher/gateway.yaml
  values_overrides/zaqar/gateway.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[deploy-env] Replace apt_key with get_url module
  roles/deploy-env/tasks/containerd.yaml
  roles/deploy-env/tasks/prerequisites.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

[openstack-exporter] Move chart to compute-kit jobs
  prometheus-openstack-exporter/values.yaml
  releasenotes/notes/prometheus-openstack-exporter-39b2a7f52552033d.yaml
  tools/deployment/monitoring/openstack-exporter.sh
  zuul.d/base.yaml
  zuul.d/infra_jobs.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[ceph] Update Ceph to 20.2.1 and Rook to 1.19.3
  ceph-adapter-rook/values.yaml
  ceph-client/values.yaml
  ceph-mon/values.yaml
  ceph-osd/values.yaml
  ceph-provisioners/values.yaml
  ceph-rgw/values.yaml
  elasticsearch/values.yaml
  gnocchi/values.yaml
  libvirt/values.yaml
  releasenotes/notes/ceph-adapter-rook-2fd83689f9bf78fb.yaml
  releasenotes/notes/ceph-client-055d675e86b2d0ea.yaml
  releasenotes/notes/ceph-mon-f029c2a86a0b7edd.yaml
  releasenotes/notes/ceph-osd-c897b82dd8d0104b.yaml
  releasenotes/notes/ceph-provisioners-c4334743e1cadc04.yaml
  releasenotes/notes/ceph-rgw-1dc7fd498ff7ed46.yaml
  releasenotes/notes/elasticsearch-4a005ef3cec5f170.yaml
  releasenotes/notes/gnocchi-71bec40a3416cb8a.yaml
  releasenotes/notes/libvirt-ac59444a6623ddb9.yaml
  tools/deployment/ceph/ceph-rook.sh
  tools/deployment/ceph/migrate-to-rook-ceph.sh
  tools/deployment/ceph/migrate-values.sh
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal

Get rid of outdated kolla images
  aodh/values.yaml
  ceilometer/values.yaml
  ironic/values.yaml
  mistral/values.yaml
  nova/templates/bin/_db-sync.sh.tpl
  nova/values.yaml
  releasenotes/notes/aodh-0fe345390dd08642.yaml
  releasenotes/notes/ceilometer-b03ea218e1e61f90.yaml
  releasenotes/notes/ironic-82bd78c64b57d2ce.yaml
  releasenotes/notes/nova-366b14dea33d416d.yaml
  values_overrides/aodh/2025.1-ubuntu_noble.yaml
  values_overrides/aodh/2025.2-ubuntu_noble.yaml
  values_overrides/ceilometer/2025.1-ubuntu_noble.yaml
  values_overrides/ceilometer/2025.2-ubuntu_noble.yaml
  values_overrides/mistral/2025.1-ubuntu_noble.yaml
  values_overrides/mistral/2025.2-ubuntu_noble.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[grafana] Upgrade to the latest v12 version
  grafana/Chart.yaml
  grafana/templates/bin/_grafana.sh.tpl
  grafana/templates/bin/_selenium-tests.py.tpl
  grafana/templates/configmap-etc.yaml
  grafana/templates/deployment.yaml
  grafana/templates/job-run-migrator.yaml
  grafana/values.yaml
  releasenotes/notes/grafana-d1a2049e057fe878.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

nova: Add missing nova-etc-snippets for cell-setup cronjob
  nova/templates/cron-job-cell-setup.yaml
  releasenotes/notes/nova-e42deac3199480e6.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Remove shaker chart
  doc/source/chart/infra_charts.rst
  releasenotes/config.yaml
  releasenotes/notes/shaker.yaml
  shaker/Chart.yaml
  shaker/templates/bin/_run-tests.sh.tpl
  shaker/templates/configmap-bin.yaml
  shaker/templates/configmap-etc.yaml
  shaker/templates/extra-manifests.yaml
  shaker/templates/job-image-repo-sync.yaml
  shaker/templates/job-ks-user.yaml
  shaker/templates/pod-shaker-test.yaml
  shaker/templates/pvc-shaker.yaml
  shaker/templates/secret-keystone.yaml
  shaker/templates/secret-registry.yaml
  shaker/templates/service-shaker.yaml
  shaker/values.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Remove flannel chart
  doc/source/chart/infra_charts.rst
  flannel/Chart.yaml
  flannel/templates/configmap-bin.yaml
  flannel/templates/configmap-kube-flannel-cfg.yaml
  flannel/templates/daemonset-kube-flannel-ds.yaml
  flannel/templates/extra-manifests.yaml
  flannel/templates/job-image-repo-sync.yaml
  flannel/templates/secret-registry.yaml
  flannel/values.yaml
  releasenotes/config.yaml
  releasenotes/notes/flannel.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

nova: Decouple nova-ssh Secret from configmap_etc
  nova/templates/secret-ssh.yaml
  nova/values.yaml
  releasenotes/notes/nova-60c926ac61319ba1.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*, ^nova/.*, ^neutron/.*
  openstack-helm-linter: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-bandit: (any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-bandit.yaml$) or (any of: ^.*\.py\.tpl$, ^.*\.py$)
  openstack-helm-skyline: any of: skyline/.*
  openstack-helm-octavia: unless all of: ^.*\.rst$, ^.*\.rst.gotmpl$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-federated-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-local-storage: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-mariadb-operator-2025-1-ubuntu_jammy: any of: ^roles/.*, ^mariadb-cluster/.*, ^tools/.*
  openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
  openstack-helm-ceph-migrate: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*, ^tools/deployment/ceph/.*
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-lint: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-lint-osh: any of: ^helm-toolkit/.*$
  openstack-helm-infra-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-infra-bandit.yaml$
  openstack-helm-infra-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-metacontroller: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal: any of: ^roles/.*, ^mariadb-cluster/.*
  openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*
  openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^ovn/.*
  openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^memcached/.*, ^openvswitch/.*
  openstack-helm-infra-cinder-2023-1-ubuntu_focal: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*
  openstack-helm-infra-cinder-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^tools/deployment/ceph-rook\.sh$, ^tools/deployment/ceph-adapter-rook\.sh$
  openstack-helm-infra-tls-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
