Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

openstack-helm-bandit:
  roles:
  - zuul: openstack/openstack-helm-infra
  - zuul: zuul/zuul-jobs
  required-projects:
  - openstack/openstack-helm
  - openstack/openstack-helm-infra
  pre-run: tools/gate/playbooks/prepare-hosts.yaml
  post-run: tools/gate/playbooks/osh-infra-collect-logs.yaml
  run: tools/gate/playbooks/osh-bandit.yaml

openstack-helm-infra:
  parent: openstack-helm-infra-functional
  timeout: 7200
  roles:
  - zuul: zuul/zuul-jobs
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  ...

openstack-helm-infra-tenant-ceph:
  parent: openstack-helm-infra-functional
  nodeset: openstack-helm-3nodes-ubuntu_focal
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  ...

openstack-helm-infra-federated-monitoring:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    gate_scripts_relative_path: ../openstack-helm-infra
  ...

openstack-helm-infra-aio-network-policy:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    gate_scripts_relative_path: ../openstack-helm-infra
    gate_scripts:
  ...

openstack-helm-infra-apparmor:
  parent: openstack-helm-infra-functional
  timeout: 9600
  pre-run: playbooks/osh-infra-upgrade-host.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    osh_params:
      container_distro_name: ubuntu
      container_distro_version: focal
  ...

openstack-helm-infra-aio-logging-apparmor:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    osh_params:
      container_distro_name: ubuntu
  ...

openstack-helm-infra-openstack-support-apparmor:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run: playbooks/osh-infra-upgrade-host.yaml
  required-projects:
  - openstack/openstack-helm-infra
  - openstack/openstack-helm
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-1node-ubuntu_focal
  vars:
    osh_params:
  ...

openstack-helm-lint:
  run: playbooks/lint.yml
  nodeset: ubuntu-focal
  required-projects:
  - openstack/openstack-helm-infra

Neutron: Enable custom annotations
  neutron/Chart.yaml
  neutron/templates/daemonset-bagpipe-bgp.yaml
  neutron/templates/daemonset-bgp-dragent.yaml
  neutron/templates/daemonset-dhcp-agent.yaml
  neutron/templates/daemonset-l2gw-agent.yaml
  neutron/templates/daemonset-l3-agent.yaml
  neutron/templates/daemonset-lb-agent.yaml
  neutron/templates/daemonset-metadata-agent.yaml
  neutron/templates/daemonset-netns-cleanup-cron.yaml
  neutron/templates/daemonset-ovn-metadata-agent.yaml
  neutron/templates/daemonset-ovs-agent.yaml
  neutron/templates/daemonset-sriov-agent.yaml
  neutron/templates/deployment-ironic-agent.yaml
  neutron/templates/deployment-server.yaml
  neutron/templates/secret-rabbitmq.yaml
  neutron/values_overrides/annotations.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Fix coredns resolver
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/tasks/coredns_resolver.yaml
  roles/deploy-env/tasks/main.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Nova: Enable custom annotations
  nova/Chart.yaml
  nova/templates/daemonset-compute.yaml
  nova/templates/deployment-api-metadata.yaml
  nova/templates/deployment-api-osapi.yaml
  nova/templates/deployment-conductor.yaml
  nova/templates/deployment-novncproxy.yaml
  nova/templates/deployment-scheduler.yaml
  nova/templates/deployment-spiceproxy.yaml
  nova/templates/secret-rabbitmq.yaml
  nova/values_overrides/annotations.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Octavia: Enable custom annotations
  octavia/Chart.yaml
  octavia/templates/daemonset-health-manager.yaml
  octavia/templates/deployment-api.yaml
  octavia/templates/deployment-housekeeping.yaml
  octavia/templates/deployment-worker.yaml
  octavia/values_overrides/annotations.yaml
  releasenotes/notes/octavia.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Placement: Enable custom annotations
  placement/Chart.yaml
  placement/templates/deployment.yaml
  placement/values_overrides/annotations.yaml
  releasenotes/notes/placement.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Senlin: Enable custom annotations
  releasenotes/notes/senlin.yaml
  senlin/Chart.yaml
  senlin/templates/deployment-api.yaml
  senlin/templates/deployment-conductor.yaml
  senlin/templates/deployment-engine.yaml
  senlin/templates/deployment-health-manager.yaml
  senlin/values_overrides/annotations.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Proper chown /run/openvswitch/db.sock under OVN
  neutron/Chart.yaml
  neutron/templates/bin/_neutron-metadata-agent-init.sh.tpl
  neutron/templates/daemonset-ovn-metadata-agent.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Run more test jobs when helm-toolkit updated
  zuul.d/jobs.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Update deploy-env role README.md
  roles/deploy-env/README.md
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

add custom job annotations snippet and use it
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/manifests/_job-bootstrap.tpl
  helm-toolkit/templates/manifests/_job-db-drop-mysql.tpl
  helm-toolkit/templates/manifests/_job-db-init-mysql.tpl
  helm-toolkit/templates/manifests/_job-db-sync.tpl
  helm-toolkit/templates/manifests/_job-ks-endpoints.tpl
  helm-toolkit/templates/manifests/_job-ks-service.tpl
  helm-toolkit/templates/manifests/_job-ks-user.yaml.tpl
  helm-toolkit/templates/manifests/_job-rabbit-init.yaml.tpl
  helm-toolkit/templates/manifests/_job-s3-bucket.yaml.tpl
  helm-toolkit/templates/manifests/_job-s3-user.yaml.tpl
  helm-toolkit/templates/snippets/_custom_job_annotations.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

keystone: allow custom annotations on jobs
  keystone/Chart.yaml
  keystone/templates/job-credential-cleanup.yaml
  keystone/templates/job-credential-setup.yaml
  keystone/templates/job-domain-manage.yaml
  keystone/templates/job-fernet-setup.yaml
  keystone/values_overrides/annotations.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

helm-toolkit: Enable custom secret annotations
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/manifests/_secret-registry.yaml.tpl
  helm-toolkit/templates/manifests/_secret-tls.yaml.tpl
  helm-toolkit/templates/snippets/_custom_secret_annotations.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Ensure that the script handles cases where the PID file exists but is empty or does not contain the expected data structure.
  neutron/Chart.yaml
  neutron/templates/bin/_health-probe.py.tpl
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add conf file for MongoDB
  mongodb/Chart.yaml
  mongodb/templates/bin/_start.sh.tpl
  mongodb/templates/configmap-etc.yaml
  mongodb/templates/secrets/_mongodb.cnf.tpl
  mongodb/templates/statefulset.yaml
  mongodb/values.yaml
  releasenotes/notes/mongodb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

make ovn db file path as configurable
  ovn/Chart.yaml
  ovn/templates/statefulset-ovsdb-nb.yaml
  ovn/templates/statefulset-ovsdb-sb.yaml
  ovn/values.yaml
  releasenotes/notes/ovn.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

keystone: fix custom annotations without helm3 hooks
  keystone/Chart.yaml
  keystone/templates/job-fernet-setup.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add readiness probe initial delay to some charts
  cinder/Chart.yaml
  cinder/templates/deployment-api.yaml
  glance/Chart.yaml
  glance/templates/deployment-api.yaml
  heat/Chart.yaml
  heat/templates/deployment-api.yaml
  releasenotes/notes/cinder.yaml
  releasenotes/notes/glance.yaml
  releasenotes/notes/heat.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

ironic: allow custom annotations on jobs
  ironic/Chart.yaml
  ironic/templates/job-manage-cleaning-network.yaml
  releasenotes/notes/ironic.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

[neutron] Properly create ovs bridges in mappings for DPDK
  neutron/Chart.yaml
  neutron/templates/bin/_neutron-openvswitch-agent-init.sh.tpl
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Enable job for DPDK
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Clean up outdated deploy k8s scripts
  Makefile
  tools/deployment/common/005-deploy-k8s.sh
  tools/deployment/common/validate-minikube-aio.sh
  tools/gate/deploy-k8s-kubeadm.sh
  tools/gate/deploy-k8s.sh
  tools/gate/devel/local-inventory.yaml
  tools/gate/devel/local-vars.yaml
  tools/gate/devel/multinode-inventory.yaml
  tools/gate/devel/multinode-vars.yaml
  tools/gate/devel/start.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Update test jobs
  zuul.d/experimental.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

[chromedriver] Change json api endpoint
  roles/deploy-selenium/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Update base deployment job
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Install OSH Helm plugin
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/tasks/k8s_client.yaml
  roles/osh-run-script-set/tasks/main.yaml
  roles/osh-run-script/tasks/main.yaml
  zuul.d/jobs.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Update list of supported Openstack releases
  README.rst
Due: none

Glance: Support uWSGI for API server
  glance/Chart.yaml
  glance/templates/bin/_glance-api.sh.tpl
  glance/templates/configmap-etc.yaml
  glance/templates/deployment-api.yaml
  glance/values.yaml
  glance/values_overrides/tls.yaml
  releasenotes/notes/glance.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Utilize OSH plugin for deployment test scripts
  doc/source/install/before_deployment.rst
  tools/deployment/common/ingress.sh
  tools/deployment/common/prepare-charts.sh
  tools/deployment/component/aodh/aodh.sh
  tools/deployment/component/barbican/barbican.sh
  tools/deployment/component/ceilometer/ceilometer.sh
  tools/deployment/component/ceph/ceph-ns-activate.sh
  tools/deployment/component/cinder/cinder.sh
  tools/deployment/component/common/mariadb.sh
  tools/deployment/component/common/memcached.sh
  tools/deployment/component/common/openstack.sh
  tools/deployment/component/common/rabbitmq.sh
  tools/deployment/component/compute-kit/compute-kit-sr-iov.sh
  tools/deployment/component/compute-kit/compute-kit.sh
  tools/deployment/component/compute-kit/libvirt.sh
  tools/deployment/component/compute-kit/openvswitch.sh
  tools/deployment/component/glance/glance.sh
  tools/deployment/component/heat/heat.sh
  tools/deployment/component/horizon/horizon.sh
  tools/deployment/component/keystone/keystone.sh
  tools/deployment/component/magnum/magnum.sh
  tools/deployment/component/manila/manila.sh
  tools/deployment/component/mistral/mistral.sh
  tools/deployment/component/nfs-provisioner/nfs-provisioner.sh
  tools/deployment/component/octavia/200-octavia.sh
  tools/deployment/component/ovn/120-openvswitch.sh
  tools/deployment/component/ovn/140-compute-kit.sh
  tools/deployment/component/ovn/ovn.sh
  tools/deployment/component/senlin/senlin.sh
  tools/deployment/component/tacker/tacker.sh
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Remove unused ingress.sh script
  tools/deployment/baremetal/020-ingress.sh
  tools/deployment/component/common/ingress.sh
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Use option "api_paste_config" from group "wsgi"
  masakari/Chart.yaml
  masakari/values.yaml
  releasenotes/notes/masakari.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add env variables to deploy from Helm repos
  roles/osh-run-script-set/tasks/main.yaml
  roles/osh-run-script/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Add jobs consuming charts from Helm repos
  tools/deployment/baremetal/005-setup-nodes.sh
  tools/deployment/baremetal/110-compute-kit.sh
  tools/deployment/common/lockdown-netpol.sh
  tools/deployment/common/openstack-exporter.sh
  tools/deployment/common/prepare-helm-repos-local.sh
  tools/deployment/common/prepare-helm-repos-public.sh
  tools/deployment/common/prepare-k8s.sh
  tools/deployment/common/validate-umbrella-upgrade-config-changes-do-not-update-other-components.sh
  tools/deployment/component/aodh/aodh.sh
  tools/deployment/component/barbican/barbican.sh
  tools/deployment/component/ceilometer/ceilometer.sh
  tools/deployment/component/ceph/ceph-ns-activate.sh
  tools/deployment/component/ceph/ceph.sh
  tools/deployment/component/cinder/cinder.sh
  tools/deployment/component/common/ldap.sh
  tools/deployment/component/common/mariadb.sh
  tools/deployment/component/common/memcached.sh
  tools/deployment/component/common/openstack.sh
  tools/deployment/component/common/rabbitmq.sh
  tools/deployment/component/compute-kit/compute-kit.sh
  tools/deployment/component/compute-kit/libvirt.sh
  tools/deployment/component/compute-kit/openvswitch.sh
  tools/deployment/component/compute-kit/tungsten-fabric.sh
  tools/deployment/component/glance/glance.sh
  tools/deployment/component/heat/heat.sh
  tools/deployment/component/horizon/horizon.sh
  tools/deployment/component/keystone/keystone.sh
  tools/deployment/component/manila/manila.sh
  tools/deployment/component/ovn/120-openvswitch.sh
  tools/deployment/component/ovn/140-compute-kit.sh
  tools/deployment/component/ovn/ovn.sh
  tools/deployment/component/tacker/tacker.sh
  zuul.d/2024.1.yaml
  zuul.d/base.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Fix user docs
  doc/source/install/before_deployment.rst
  doc/source/install/deploy_openstack.rst
Due: none

Enable tls job for 2024.1 Ubuntu Jammy
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Fix typo in all deployment scripts
  tools/deployment/common/lockdown-netpol.sh
  tools/deployment/common/openstack-exporter.sh
  tools/deployment/component/aodh/aodh.sh
  tools/deployment/component/barbican/barbican.sh
  tools/deployment/component/ceilometer/ceilometer.sh
  tools/deployment/component/ceph/ceph-ns-activate.sh
  tools/deployment/component/ceph/ceph.sh
  tools/deployment/component/cinder/cinder.sh
  tools/deployment/component/common/ldap.sh
  tools/deployment/component/common/mariadb.sh
  tools/deployment/component/common/memcached.sh
  tools/deployment/component/common/openstack.sh
  tools/deployment/component/common/rabbitmq.sh
  tools/deployment/component/compute-kit/compute-kit.sh
  tools/deployment/component/compute-kit/libvirt.sh
  tools/deployment/component/compute-kit/openvswitch.sh
  tools/deployment/component/glance/glance.sh
  tools/deployment/component/heat/heat.sh
  tools/deployment/component/horizon/horizon.sh
  tools/deployment/component/keystone/keystone.sh
  tools/deployment/component/manila/manila.sh
  tools/deployment/component/ovn/120-openvswitch.sh
  tools/deployment/component/ovn/140-compute-kit.sh
  tools/deployment/component/ovn/ovn.sh
  tools/deployment/component/tacker/tacker.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

[chromedriver] Loosen compatibility up with Chrome
  roles/deploy-selenium/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-openstack-support, openstack-helm-infra-openstack-support-rook, openstack-helm-infra-openstack-support-ssl, openstack-helm-infra-mariadb-operator

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: (any of: ^.*\.py\.tpl$, ^.*\.py$, ^tools/gate/playbooks/osh-bandit.yaml$) or (any of: ^.*\.py\.tpl$, ^.*\.py$)
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-federated-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-local-storage: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-lint: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-lint-osh: any of: ^helm-toolkit/.*$
  openstack-helm-infra-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-infra-bandit.yaml$
  openstack-helm-infra-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-metacontroller: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-rook: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-mariadb-operator: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
