Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

openstack-helm-bandit:
  timeout: 3600
  run: tools/gate/playbooks/osh-bandit.yaml
  required-projects:
  - openstack/openstack-helm-infra
  nodeset: openstack-helm-single-node

openstack-helm-horizon-train-ubuntu_bionic:
  parent: openstack-helm-chart-deploy
  vars:
    osh_params:
      openstack_release: train
      container_distro_name: ubuntu
      container_distro_version: bionic
    gate_scripts_relative_path: ../openstack-helm
    gate_scripts:
    - ./tools/deployment/common/install-packages.sh
  ...

openstack-helm-infra:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  ...

openstack-helm-infra-tenant-ceph:
  parent: openstack-helm-infra-functional
  nodeset: openstack-helm-five-node-ubuntu
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  ...

openstack-helm-infra-ubuntu:
  parent: openstack-helm-infra
  nodeset: openstack-helm-ubuntu

openstack-helm-infra-centos:
  parent: openstack-helm-infra
  nodeset: openstack-helm-centos

openstack-helm-infra-fedora:
  parent: openstack-helm-infra
  nodeset: openstack-helm-fedora

openstack-helm-infra-aio-logging:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-aio-monitoring:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-aio-network-policy:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-apparmor:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run: playbooks/osh-infra-upgrade-host.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-five-ubuntu:
  parent: openstack-helm-infra
  nodeset: openstack-helm-five-node-ubuntu

Remove support for openstack releases older than T
  aodh/Chart.yaml
  barbican/Chart.yaml
  ceilometer/Chart.yaml
  cinder/Chart.yaml
  designate/Chart.yaml
  glance/Chart.yaml
  heat/Chart.yaml
  horizon/Chart.yaml
  ironic/Chart.yaml
  keystone/Chart.yaml
  magnum/Chart.yaml
  mistral/Chart.yaml
  neutron/Chart.yaml
  nova/Chart.yaml
  octavia/Chart.yaml
  panko/Chart.yaml
  placement/Chart.yaml
  rally/Chart.yaml
  releasenotes/notes/aodh.yaml
  releasenotes/notes/barbican.yaml
  releasenotes/notes/ceilometer.yaml
  releasenotes/notes/cinder.yaml
  releasenotes/notes/designate.yaml
  releasenotes/notes/glance.yaml
  releasenotes/notes/heat.yaml
  releasenotes/notes/horizon.yaml
  releasenotes/notes/ironic.yaml
  releasenotes/notes/keystone.yaml
  releasenotes/notes/magnum.yaml
  releasenotes/notes/mistral.yaml
  releasenotes/notes/neutron.yaml
  releasenotes/notes/nova.yaml
  releasenotes/notes/octavia.yaml
  releasenotes/notes/panko.yaml
  releasenotes/notes/placement.yaml
  releasenotes/notes/rally.yaml
  releasenotes/notes/senlin.yaml
  releasenotes/notes/tempest.yaml
  senlin/Chart.yaml
  tempest/Chart.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[CPCEPH-74] Use ca cert for helm tests
  ceph-rgw/Chart.yaml
  ceph-rgw/templates/bin/_helm-tests.sh.tpl
  ceph-rgw/templates/pod-helm-tests.yaml
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove old release jobs and update to latest
  zuul.d/jobs-openstack-helm.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update all jobs to at least Train
  zuul.d/jobs.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Unpin cmd2 package in pip
  tools/gate/devel/start.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Deploy newer ansible version
  tools/gate/devel/start.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable TLS for Elasticsearch
  elasticsearch/Chart.yaml
  elasticsearch/templates/bin/_create_s3_buckets.sh.tpl
  elasticsearch/templates/bin/_elasticsearch.sh.tpl
  elasticsearch/templates/deployment-client.yaml
  elasticsearch/templates/deployment-gateway.yaml
  elasticsearch/templates/job-s3-bucket.yaml
  elasticsearch/templates/statefulset-data.yaml
  elasticsearch/templates/statefulset-master.yaml
  elasticsearch/values_overrides/tls.yaml
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/manifests/_job-s3-bucket.yaml.tpl
  releasenotes/notes/elasticsearch.yaml
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove tiller residue
  releasenotes/config.yaml
  releasenotes/notes/tiller.yaml
Due: none

Disable multinode gate jobs
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[CEPH] Fix the ceph pool creations for openstack services
  cinder/Chart.yaml
  cinder/templates/bin/_backup-storage-init.sh.tpl
  cinder/templates/bin/_storage-init.sh.tpl
  glance/Chart.yaml
  glance/templates/bin/_storage-init.sh.tpl
  releasenotes/notes/cinder.yaml
  releasenotes/notes/glance.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-mon] Fix python3 issue for util scripts
  ceph-mon/Chart.yaml
  ceph-mon/templates/bin/utils/_checkObjectReplication.py.tpl
  releasenotes/notes/ceph-mon.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Prevent mariadb from split brain while cluster is in reboot state
  mariadb/Chart.yaml
  mariadb/templates/bin/_start.py.tpl
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove keystone paste ini file
  keystone/Chart.yaml
  keystone/templates/configmap-etc.yaml
  keystone/templates/deployment-api.yaml
  keystone/values.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove deprecated svc annotation tolerate-unready-endpoints
  ceph-mon/Chart.yaml
  ceph-mon/templates/service-mon-discovery.yaml
  mariadb/Chart.yaml
  mariadb/templates/service-discovery.yaml
  releasenotes/notes/ceph-mon.yaml
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Make Ceph pool init job consistent with helm test
  ceph-client/Chart.yaml
  ceph-client/templates/bin/pool/_init.sh.tpl
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-client] Add pool rename support for Ceph pools
  ceph-client/Chart.yaml
  ceph-client/templates/bin/pool/_init.sh.tpl
  ceph-client/values.yaml
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Secure ingress path for Grafana and Kibana
  grafana/Chart.yaml
  grafana/templates/ingress-grafana.yaml
  grafana/values_overrides/tls.yaml
  kibana/Chart.yaml
  kibana/templates/ingress-kibana.yaml
  kibana/values_overrides/tls.yaml
  releasenotes/notes/grafana.yaml
  releasenotes/notes/kibana.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

doc(style): fixes rST rendering
  doc/source/devref/networking.rst
Due: none

Remove env variable from s3 bucket job
  elasticsearch/Chart.yaml
  elasticsearch/templates/bin/_create_s3_buckets.sh.tpl
  elasticsearch/values.yaml
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/manifests/_job-s3-bucket.yaml.tpl
  releasenotes/notes/elasticsearch.yaml
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(yaml): corrects Charts.yaml reference
  kubernetes-keystone-webhook/Chart.yaml
  releasenotes/notes/kubernetes-keystone-webhook.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

chore(charts): retires panko chart
  panko/Chart.yaml
  panko/requirements.yaml
  panko/templates/bin/_bootstrap.sh.tpl
  panko/templates/bin/_db-sync.sh.tpl
  panko/templates/bin/_panko-api.sh.tpl
  panko/templates/bin/_panko-events-cleaner.sh.tpl
  panko/templates/configmap-bin.yaml
  panko/templates/configmap-etc.yaml
  panko/templates/cron-job-events-cleaner.yaml
  panko/templates/deployment-api.yaml
  panko/templates/ingress-api.yaml
  panko/templates/job-bootstrap.yaml
  panko/templates/job-db-drop.yaml
  panko/templates/job-db-init.yaml
  panko/templates/job-db-sync.yaml
  panko/templates/job-image-repo-sync.yaml
  panko/templates/job-ks-endpoints.yaml
  panko/templates/job-ks-service.yaml
  panko/templates/job-ks-user.yaml
  panko/templates/network_policy.yaml
  panko/templates/pdb-api.yaml
  panko/templates/pod-rally-test.yaml
  panko/templates/secret-db.yaml
  panko/templates/secret-ingress-tls.yaml
  panko/templates/secret-keystone.yaml
  panko/templates/service-api.yaml
  panko/templates/service-ingress-api.yaml
  panko/values.yaml
  releasenotes/config.yaml
  releasenotes/notes/panko.yaml
  tools/deployment/multinode/240-panko.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(perm): fixes template permission
  nova/Chart.yaml
  nova/templates/bin/_cell-setup.sh.tpl
  nova/templates/bin/_db-sync.sh.tpl
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove panko residue
  mariadb/Chart.yaml
  mariadb/values_overrides/netpol.yaml
  memcached/Chart.yaml
  memcached/values_overrides/netpol.yaml
  releasenotes/notes/mariadb.yaml
  releasenotes/notes/memcached.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-devref.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-devref.po
  doc/source/locale/id/LC_MESSAGES/doc-devref.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-devref.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Update Grafana version and Selenium script
  grafana/Chart.yaml
  grafana/templates/bin/_selenium-tests.py.tpl
  grafana/values.yaml
  releasenotes/notes/grafana.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(pep8): makes python script pep8 compliant
  keystone/Chart.yaml
  keystone/templates/bin/_cred-clean.py.tpl
  keystone/templates/bin/_domain-manage.py.tpl
  keystone/templates/bin/_endpoint-update.py.tpl
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

feat(tls): Enable TLS for OpenStack RabbitMQ
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/manifests/_job-rabbit-init.yaml.tpl
  helm-toolkit/templates/scripts/_rabbit-init.sh.tpl
  rabbitmq/Chart.yaml
  rabbitmq/templates/bin/_rabbitmq-wait-for-cluster.sh.tpl
  rabbitmq/templates/certificates.yaml
  rabbitmq/templates/configmap-etc.yaml
  rabbitmq/templates/job-cluster-wait.yaml
  rabbitmq/templates/statefulset.yaml
  rabbitmq/values.yaml
  rabbitmq/values_overrides/tls.yaml
  releasenotes/notes/helm-toolkit.yaml
  releasenotes/notes/rabbitmq.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

fix(pep8): makes python script pep8 compliant
  horizon/Chart.yaml
  horizon/templates/bin/_selenium-test.py.tpl
  releasenotes/notes/horizon.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Change image key name for blackbox exporter
  prometheus-blackbox-exporter/Chart.yaml
  prometheus-blackbox-exporter/templates/deployment.yaml
  prometheus-blackbox-exporter/values.yaml
  releasenotes/notes/prometheus-blackbox-exporter.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-client] Add pool delete support for Ceph pools
  ceph-client/Chart.yaml
  ceph-client/templates/bin/pool/_init.sh.tpl
  ceph-client/values.yaml
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove misleading section from upgrade docs
  doc/source/devref/upgrades.rst
Due: none

doc(typo): fixes up typo
  doc/source/install/developer/deploy-with-ceph.rst
Due: none

[ceph-rgw] Add placement target delete support to RGW
  ceph-rgw/Chart.yaml
  ceph-rgw/templates/bin/_create-rgw-placement-targets.sh.tpl
  ceph-rgw/values.yaml
  releasenotes/notes/ceph-rgw.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Replace deprecated configuration
  nova/Chart.yaml
  nova/templates/bin/_nova-console-compute-init.sh.tpl
  nova/values.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Refactor Ceph OSD Init Scripts - Second PS
  ceph-osd/Chart.yaml
  ceph-osd/templates/bin/osd/ceph-volume/_block.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_bluestore.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_common.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_init-ceph-volume-helper-block-logical.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_init-ceph-volume-helper-bluestore.sh.tpl
  ceph-osd/templates/bin/osd/ceph-volume/_init-with-ceph-volume.sh.tpl
  releasenotes/notes/ceph-osd.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix dnsPolicy for housekeeping service
  octavia/Chart.yaml
  octavia/templates/deployment-housekeeping.yaml
  releasenotes/notes/octavia.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-kubernetes-keystone-auth: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-deploy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-uuid: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-passwords: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-airship-divingbell: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-podsecuritypolicy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
