Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-bandit, openstack-helm-skyline, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*, ^nova/.*, ^neutron/.*
  openstack-helm-linter: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-bandit: (any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-bandit.yaml$) or (any of: ^.*\.py\.tpl$, ^.*\.py$)
  openstack-helm-skyline: any of: skyline/.*
  openstack-helm-octavia: unless all of: ^.*\.rst$, ^.*\.rst.gotmpl$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-federated-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-local-storage: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support-ssl-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging-tls: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-mariadb-operator-2025-1-ubuntu_jammy: any of: ^roles/.*, ^mariadb-cluster/.*, ^tools/.*
  openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*
  openstack-helm-ceph-migrate: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*, ^tools/deployment/ceph/.*
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-lint: unless all of: ^.*\.rst$, ^releasenotes/.*$
  openstack-helm-lint-osh: any of: ^helm-toolkit/.*$
  openstack-helm-infra-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$, ^playbooks/osh-infra-bandit.yaml$
  openstack-helm-infra-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-metacontroller: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal: any of: ^roles/.*, ^mariadb-cluster/.*
  openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy: any of: ^roles/.*, ^openvswitch/.*
  openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^ovn/.*
  openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^libvirt/.*, ^memcached/.*, ^openvswitch/.*
  openstack-helm-infra-cinder-2023-1-ubuntu_focal: any of: ^helm-toolkit/.*, ^roles/.*, ^ceph.*
  openstack-helm-infra-cinder-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^tools/deployment/ceph-rook\.sh$, ^tools/deployment/ceph-adapter-rook\.sh$
  openstack-helm-infra-tls-2024-1-ubuntu_jammy: any of: ^helm-toolkit/.*, ^roles/.*, ^rabbitmq/.*, ^mariadb/.*, ^memcached/.*, ^libvrit/.*, ^openvswitch/.*

Add 'ironic-dbsync online_data_migrations' to ironic dbsync template
  ironic/templates/bin/_db-sync.sh.tpl
  releasenotes/notes/ironic-adbba9c6718cc0d6.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Drop redundant __future__ import
  rabbitmq/templates/bin/_rabbitmq-password-hash.py.tpl
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-bandit, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-lint, openstack-helm-infra-bandit, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Added failover openrc environment variables
  helm-toolkit/templates/snippets/_keystone_openrc_failover_env_vars.tpl
  mariadb-backup/templates/cron-job-backup-mariadb.yaml
  mariadb/templates/cron-job-backup-mariadb.yaml
  postgresql/templates/cron-job-backup-postgres.yaml
  releasenotes/notes/helm-toolkit-81cf091a301877ff.yaml
  releasenotes/notes/mariadb-0cb94bb0ae8cf38a.yaml
  releasenotes/notes/mariadb-backup-58c8a77f9c03bae8.yaml
  releasenotes/notes/postgresql-4ee4e72706f17d8a.yaml
  values_overrides/mariadb/backups.yaml
  values_overrides/postgresql/backups.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Missing shebang in designate cleaner, causing exec error
  designate/templates/bin/_designate-service-cleaner.sh.tpl
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add multi-path support to ingress template
  helm-toolkit/templates/manifests/_ingress.tpl
  releasenotes/notes/helm-toolkit-acb954baa2fe7b2f.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Add loopback devices format and mount
  nova/values.yaml
  roles/deploy-env/defaults/main.yaml
  roles/deploy-env/tasks/loopback_devices_mount.yaml
  roles/deploy-env/tasks/main.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-mariadb-operator-2023-1-ubuntu_focal, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Use "ip addr replace" when adding IP addresses
  neutron/templates/bin/_neutron-openvswitch-agent-init.sh.tpl
  ovn/templates/bin/_ovn-controller-init.sh.tpl
  releasenotes/notes/neutron-2af36e49a0a377c3.yaml
  releasenotes/notes/ovn-ffd84bb8c9e73b64.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy

Fix Cinder secret ingress TLS
  cinder/templates/secret-ingress-tls.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

nova: Fix issue with empty etcSources
  nova/templates/cron-job-archive-deleted-rows.yaml
  nova/templates/cron-job-service-cleaner.yaml
  nova/templates/daemonset-compute.yaml
  nova/templates/deployment-api-metadata.yaml
  nova/templates/deployment-api-osapi.yaml
  nova/templates/deployment-conductor.yaml
  nova/templates/deployment-scheduler.yaml
  nova/templates/deployment-serialproxy.yaml
  nova/templates/deployment-spiceproxy.yaml
  nova/templates/job-cell-setup.yaml
  nova/templates/statefulset-compute-ironic.yaml
  releasenotes/notes/nova-467e6c34e9fd1b05.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

neutron: Fix issue with empty etcSources
  neutron/templates/cron-job-ovn-db-sync.yaml
  neutron/templates/daemonset-bgp-dragent.yaml
  neutron/templates/daemonset-dhcp-agent.yaml
  neutron/templates/daemonset-l2gw-agent.yaml
  neutron/templates/daemonset-l3-agent.yaml
  neutron/templates/daemonset-lb-agent.yaml
  neutron/templates/daemonset-metadata-agent.yaml
  neutron/templates/daemonset-netns-cleanup-cron.yaml
  neutron/templates/daemonset-neutron-ovn-vpn-agent.yaml
  neutron/templates/daemonset-ovn-metadata-agent.yaml
  neutron/templates/daemonset-ovs-agent.yaml
  neutron/templates/daemonset-sriov-agent.yaml
  neutron/templates/deployment-ironic-agent.yaml
  neutron/templates/deployment-rpc_server.yaml
  neutron/templates/deployment-server.yaml
  releasenotes/notes/neutron-00a56405067b123d.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(cinder): allow users to provide configs in cinder.conf.d
  cinder/templates/bin/_cinder-backup.sh.tpl
  cinder/templates/bin/_cinder-scheduler.sh.tpl
  cinder/templates/bin/_cinder-volume.sh.tpl
  cinder/templates/bin/_db-purge.sh.tpl
  cinder/templates/bin/_volume-usage-audit.sh.tpl
  cinder/templates/cron-job-cinder-db-purge.yaml
  cinder/templates/cron-job-cinder-volume-usage-audit.yaml
  cinder/templates/deployment-api.yaml
  cinder/templates/deployment-backup.yaml
  cinder/templates/deployment-scheduler.yaml
  cinder/templates/deployment-volume.yaml
  cinder/values.yaml
  releasenotes/notes/cinder-aca94f2247bcddcd.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

[Cinder] Add missing default glance identity
  cinder/values.yaml
  releasenotes/notes/cinder-1db248fbc00e56ff.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(glance): allow users to provide configs in glance.conf.d
  glance/templates/deployment-api.yaml
  glance/values.yaml
  releasenotes/notes/glance-cbd61a1ae1e902b5.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(placement): allow users to provide configs in placement.conf.d
  placement/templates/deployment.yaml
  placement/values.yaml
  releasenotes/notes/placement-a180f4e88ed81d30.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(ceilometer): allow users to provide configs in ceilometer.conf.d
  ceilometer/templates/bin/_ceilometer-central.sh.tpl
  ceilometer/templates/bin/_ceilometer-compute.sh.tpl
  ceilometer/templates/bin/_ceilometer-ipmi.sh.tpl
  ceilometer/templates/bin/_ceilometer-notification.sh.tpl
  ceilometer/templates/daemonset-compute.yaml
  ceilometer/templates/daemonset-ipmi.yaml
  ceilometer/templates/deployment-central.yaml
  ceilometer/templates/deployment-notification.yaml
  ceilometer/values.yaml
  releasenotes/notes/ceilometer-b86532145d088208.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(aodh): allow users to provide configs in aodh.conf.d
  aodh/templates/bin/_aodh-alarms-cleaner.sh.tpl
  aodh/templates/bin/_aodh-evaluator.sh.tpl
  aodh/templates/bin/_aodh-listener.sh.tpl
  aodh/templates/bin/_aodh-notifier.sh.tpl
  aodh/templates/cron-job-alarms-cleaner.yaml
  aodh/templates/deployment-api.yaml
  aodh/templates/deployment-evaluator.yaml
  aodh/templates/deployment-listener.yaml
  aodh/templates/deployment-notifier.yaml
  aodh/values.yaml
  releasenotes/notes/aodh-1002dad350db1c60.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(octavia): allow users to provide configs in octavia.conf.d
  octavia/templates/bin/_octavia-driver-agent.sh.tpl
  octavia/templates/bin/_octavia-health-manager.sh.tpl
  octavia/templates/bin/_octavia-housekeeping.sh.tpl
  octavia/templates/bin/_octavia-worker.sh.tpl
  octavia/templates/daemonset-health-manager.yaml
  octavia/templates/daemonset-worker.yaml
  octavia/templates/deployment-api.yaml
  octavia/templates/deployment-driver-agent.yaml
  octavia/templates/deployment-housekeeping.yaml
  octavia/values.yaml
  releasenotes/notes/octavia-3c13346818a743cc.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(heat): allow users to provide configs in heat.conf.d
  heat/templates/bin/_heat-engine.sh.tpl
  heat/templates/cron-job-engine-cleaner.yaml
  heat/templates/cron-job-purge-deleted.yaml
  heat/templates/deployment-api.yaml
  heat/templates/deployment-cfn.yaml
  heat/templates/deployment-engine.yaml
  heat/values.yaml
  releasenotes/notes/heat-7222563449ea848e.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(keystone): allow users to provide configs in keystone.conf.d
  keystone/templates/cron-job-credential-rotate.yaml
  keystone/templates/cron-job-fernet-rotate.yaml
  keystone/templates/deployment-api.yaml
  keystone/templates/job-credential-setup.yaml
  keystone/templates/job-domain-manage.yaml
  keystone/templates/job-fernet-setup.yaml
  keystone/values.yaml
  releasenotes/notes/keystone-0e6674e1c443cd81.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Update Prometheus Openstack Exporter
  prometheus-openstack-exporter/templates/deployment.yaml
  prometheus-openstack-exporter/values.yaml
  releasenotes/notes/prometheus-openstack-exporter-d95d286faa68ea98.yaml
  tools/deployment/common/openstack-exporter.sh
  tools/deployment/monitoring/openstack-exporter.sh
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-operator-2025-1-ubuntu_jammy, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Update values_overrides for ovn
  releasenotes/notes/neutron-42b77d74ce8fe287.yaml
  releasenotes/notes/nova-3493b35ba8c4479a.yaml
  values_overrides/neutron/ovn.yaml
  values_overrides/neutron/ovn_vpn.yaml
  values_overrides/nova/ovn.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Add support for etcSources to db-sync job
  aodh/values.yaml
  ceilometer/values.yaml
  cinder/values.yaml
  glance/templates/job-db-sync.yaml
  glance/values.yaml
  heat/values.yaml
  helm-toolkit/templates/manifests/_job-db-sync.tpl
  keystone/templates/bin/_db-sync.sh.tpl
  keystone/values.yaml
  neutron/templates/bin/_db-sync.sh.tpl
  octavia/values.yaml
  placement/values.yaml
  releasenotes/notes/aodh-bb91c011b0c7d911.yaml
  releasenotes/notes/ceilometer-c08f029ffa1e122f.yaml
  releasenotes/notes/cinder-32aac095ffc09912.yaml
  releasenotes/notes/glance-1245a71c1694b79c.yaml
  releasenotes/notes/heat-a584fab629e1c4fc.yaml
  releasenotes/notes/helm-toolkit-1ac16e62f779d907.yaml
  releasenotes/notes/keystone-fb00add9c87916a3.yaml
  releasenotes/notes/neutron-32815761690bedf5.yaml
  releasenotes/notes/octavia-74938cd9ffae016b.yaml
  releasenotes/notes/placement-3115f3ce4c0801af.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-ceph-migrate, openstack-helm-lint, openstack-helm-lint-osh, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-cinder-2023-1-ubuntu_focal, openstack-helm-infra-cinder-2024-1-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

manila: make manifest configurable for cephfs
  manila/templates/bin/_ceph-keyring.sh.tpl
  manila/templates/deployment-share.yaml
  manila/values.yaml
  releasenotes/notes/manila-23590e37667d10a5.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Deploy libvirt exporter sidecar from extraContainers
  libvirt/templates/daemonset-libvirt.yaml
  libvirt/values.yaml
  releasenotes/notes/libvirt-85375c3ae369bc39.yaml
  values_overrides/libvirt/vexxhost_exporter.yaml
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-ovn-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy

Deploy memcached exporter from extraContainers
  memcached/templates/bin/_memcached-exporter.sh.tpl
  memcached/templates/configmap-bin.yaml
  memcached/templates/service.yaml
  memcached/templates/statefulset.yaml
  memcached/values.yaml
  releasenotes/notes/memcached-1ae10613b2e36813.yaml
  values_overrides/memcached/exporter.yaml
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

[OVS] Add .Values.openvswitch.extraContainers hook
  openvswitch/templates/daemonset.yaml
  openvswitch/values.yaml
  releasenotes/notes/openvswitch-3401ba2f0dc8e1f6.yaml
  values_overrides/openvswitch/exporter.yaml
  zuul.d/base.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-mariadb-ingress-2025-1-ubuntu_jammy, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller, openstack-helm-infra-compute-kit-dpdk-2023-2-ubuntu_jammy, openstack-helm-infra-compute-kit-2023-2-ubuntu_jammy, openstack-helm-infra-tls-2024-1-ubuntu_jammy

Remove remaining logic for volume v1/v2 API
  cinder/templates/configmap-etc.yaml
  cinder/templates/deployment-api.yaml
  cinder/templates/job-ks-endpoints.yaml
  cinder/templates/service-api.yaml
  cinder/templates/service-ingress-api.yaml
  cinder/values.yaml
  releasenotes/notes/remove-legacy-volume-apis-12d2d1abbb7fbe61.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

cinder: split service accounts from cinder.conf
  cinder/templates/configmap-etc.yaml
  cinder/templates/cron-job-cinder-db-purge.yaml
  cinder/templates/cron-job-cinder-volume-usage-audit.yaml
  cinder/templates/deployment-api.yaml
  cinder/templates/deployment-backup.yaml
  cinder/templates/deployment-scheduler.yaml
  cinder/templates/deployment-volume.yaml
  cinder/templates/secret-ks-etc.yaml
  cinder/values.yaml
  releasenotes/notes/cinder-ded5ec20ef58ac93.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

Remove support for tungstenfabric
  doc/source/devref/networking.rst
  neutron/templates/bin/_db-sync.sh.tpl
  neutron/templates/bin/_neutron-ovn-db-sync.sh.tpl
  neutron/templates/bin/_neutron-rpc-server.sh.tpl
  neutron/templates/bin/_neutron-server.sh.tpl
  neutron/templates/configmap-bin.yaml
  neutron/templates/configmap-etc.yaml
  neutron/templates/cron-job-ovn-db-sync.yaml
  neutron/templates/deployment-rpc_server.yaml
  neutron/templates/deployment-server.yaml
  neutron/values.yaml
  nova/templates/configmap-bin.yaml
  nova/templates/daemonset-compute.yaml
  nova/values.yaml
  releasenotes/notes/neutron-d39cc4643edac73c.yaml
  releasenotes/notes/nova-2c10ffbcf8d2f838.yaml
  values_overrides/neutron/bagpipe_bgp.yaml
  values_overrides/neutron/tf.yaml
  values_overrides/nova/tf.yaml
Due: openstack-helm-infra-functional, openstack-helm-compute-kit-dpdk-2025-1-ubuntu_jammy, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

manila: Remove legacy share API
  manila/templates/deployment-api.yaml
  manila/templates/ingress-api.yaml
  manila/templates/job-ks-endpoints.yaml
  manila/templates/job-ks-service.yaml
  manila/templates/secret-ingress-tls.yaml
  manila/templates/service-api.yaml
  manila/templates/service-ingress-api.yaml
  manila/values.yaml
  releasenotes/notes/remove-share-v1-api-d7b0b85e395bf131.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(barbican): allow users to provide configs in barbican.conf.d
  barbican/templates/deployment-api.yaml
  barbican/values.yaml
  releasenotes/notes/barbican-669168de73ab5847.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(ironic): allow users to provide configs in ironic.conf.d
  ironic/templates/bin/_ironic-api.sh.tpl
  ironic/templates/bin/_ironic-conductor.sh.tpl
  ironic/templates/deployment-api.yaml
  ironic/templates/statefulset-conductor.yaml
  ironic/values.yaml
  releasenotes/notes/ironic-c0de8abe9970dca0.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(designate): allow users to provide configs in designate.conf.d
  designate/templates/bin/_designate-central.sh.tpl
  designate/templates/bin/_designate-mdns.sh.tpl
  designate/templates/bin/_designate-producer.sh.tpl
  designate/templates/bin/_designate-service-cleaner.sh.tpl
  designate/templates/bin/_designate-sink.sh.tpl
  designate/templates/bin/_designate-worker.sh.tpl
  designate/templates/cron-job-service.cleaner.yaml
  designate/templates/deployment-api.yaml
  designate/templates/deployment-central.yaml
  designate/templates/deployment-mdns.yaml
  designate/templates/deployment-producer.yaml
  designate/templates/deployment-sink.yaml
  designate/templates/deployment-worker.yaml
  designate/values.yaml
  releasenotes/notes/designate-bc18055009645160.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(cloudkitty): allow users to provide configs in cloudkitty.conf.d
  cloudkitty/templates/bin/_cloudkitty-processor.sh.tpl
  cloudkitty/templates/deployment-api.yaml
  cloudkitty/templates/deployment-processor.yaml
  cloudkitty/values.yaml
  releasenotes/notes/cloudkitty-a95de06fbfeac965.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller

feat(manila): allow users to provide configs in manila.conf.d
  manila/templates/bin/_manila-data.sh.tpl
  manila/templates/bin/_manila-scheduler.sh.tpl
  manila/templates/bin/_manila-share.sh.tpl
  manila/templates/deployment-api.yaml
  manila/templates/deployment-data.yaml
  manila/templates/deployment-scheduler.yaml
  manila/templates/deployment-share.yaml
  manila/values.yaml
  releasenotes/notes/manila-a5beeacdb577dd23.yaml
Due: openstack-helm-infra-functional, openstack-helm-linter, openstack-helm-octavia, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-federated-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-aio-logging-apparmor, openstack-helm-infra-openstack-support-apparmor, openstack-helm-infra-elastic-beats, openstack-helm-infra-local-storage, openstack-helm-infra-openstack-support-ssl-apparmor, openstack-helm-infra-aio-monitoring-tls, openstack-helm-infra-aio-logging-tls, openstack-helm-lint, openstack-helm-infra-logging, openstack-helm-infra-monitoring, openstack-helm-infra-metacontroller
