Repository openstack/openstack-helm: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

openstack-helm-bandit:
  timeout: 3600
  run: tools/gate/playbooks/osh-bandit.yaml
  required-projects:
  - openstack/openstack-helm-infra
  nodeset: openstack-helm-single-node

openstack-helm-horizon-train-ubuntu_bionic:
  parent: openstack-helm-chart-deploy
  vars:
    osh_params:
      openstack_release: train
      container_distro_name: ubuntu
      container_distro_version: bionic
    gate_scripts_relative_path: ../openstack-helm
    gate_scripts:
    - ./tools/deployment/common/install-packages.sh
  ...

openstack-helm-infra:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  ...

openstack-helm-infra-tenant-ceph:
  parent: openstack-helm-infra-functional
  nodeset: openstack-helm-five-node-ubuntu
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-docker.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  - playbooks/osh-infra-build.yaml
  - playbooks/osh-infra-deploy-k8s.yaml
  ...

openstack-helm-infra-ubuntu:
  parent: openstack-helm-infra
  nodeset: openstack-helm-ubuntu

openstack-helm-infra-centos:
  parent: openstack-helm-infra
  nodeset: openstack-helm-centos

openstack-helm-infra-fedora:
  parent: openstack-helm-infra
  nodeset: openstack-helm-fedora

openstack-helm-infra-aio-logging:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-aio-monitoring:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-aio-network-policy:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run:
  - playbooks/osh-infra-upgrade-host.yaml
  - playbooks/osh-infra-deploy-selenium.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-apparmor:
  parent: openstack-helm-infra-functional
  timeout: 7200
  pre-run: playbooks/osh-infra-upgrade-host.yaml
  run: playbooks/osh-infra-gate-runner.yaml
  post-run: playbooks/osh-infra-collect-logs.yaml
  nodeset: openstack-helm-single-node
  vars:
    gate_scripts:
  ...

openstack-helm-infra-five-ubuntu:
  parent: openstack-helm-infra
  nodeset: openstack-helm-five-node-ubuntu

Move TLS job from check to experimental
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix field validation error
  metacontroller/Chart.yaml
  metacontroller/templates/statefulset.yaml
  releasenotes/notes/metacontroller.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove glance registry
  cinder/Chart.yaml
  cinder/values.yaml
  doc/source/devref/endpoints.rst
  doc/source/testing/ceph-node-resiliency.rst
  doc/source/testing/ceph-upgrade.rst
  glance/Chart.yaml
  glance/templates/bin/_glance-registry.sh.tpl
  glance/templates/certificates.yaml
  glance/templates/configmap-bin.yaml
  glance/templates/configmap-etc.yaml
  glance/templates/deployment-registry.yaml
  glance/templates/ingress-registry.yaml
  glance/templates/pdb-registry.yaml
  glance/templates/service-ingress-registry.yaml
  glance/templates/service-registry.yaml
  glance/values.yaml
  glance/values_overrides/apparmor.yaml
  glance/values_overrides/ocata-ubuntu_xenial.yaml
  glance/values_overrides/pike-ubuntu_xenial.yaml
  glance/values_overrides/queens-ubuntu_xenial.yaml
  glance/values_overrides/rocky-opensuse_15.yaml
  glance/values_overrides/rocky-ubuntu_bionic.yaml
  glance/values_overrides/rocky-ubuntu_xenial.yaml
  glance/values_overrides/tls.yaml
  glance/values_overrides/train-ubuntu_bionic.yaml
  glance/values_overrides/ussuri-ubuntu_bionic.yaml
  glance/values_overrides/victoria-ubuntu_focal.yaml
  glance/values_overrides/wallaby-ubuntu_focal.yaml
  releasenotes/notes/cinder.yaml
  releasenotes/notes/glance.yaml
  tools/deployment/multinode/100-glance.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Improve health probe logging for nova and neutron
  neutron/Chart.yaml
  neutron/templates/bin/_health-probe.py.tpl
  neutron/values.yaml
  nova/Chart.yaml
  nova/templates/bin/_health-probe.py.tpl
  nova/values.yaml
  releasenotes/notes/neutron.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Removing -x from database backup script
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/scripts/db-backup-restore/_backup_main.sh.tpl
  mariadb/Chart.yaml
  mariadb/templates/bin/_backup_mariadb.sh.tpl
  postgresql/Chart.yaml
  postgresql/templates/bin/_backup_postgresql.sh.tpl
  releasenotes/notes/helm-toolkit.yaml
  releasenotes/notes/mariadb.yaml
  releasenotes/notes/postgresql.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Imported Translations from Zanata
  doc/source/locale/de/LC_MESSAGES/doc-devref.po
  doc/source/locale/en_GB/LC_MESSAGES/doc-devref.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-devref.po
  doc/source/locale/ko_KR/LC_MESSAGES/doc-install.po
Due: none

[ceph-mon] Change configmap names to be based on release names
  ceph-mon/Chart.yaml
  ceph-mon/templates/configmap-bin.yaml
  ceph-mon/templates/configmap-etc.yaml
  ceph-mon/templates/daemonset-mon.yaml
  ceph-mon/templates/utils/_mon_daemonset_overrides.tpl
  ceph-mon/values.yaml
  releasenotes/notes/ceph-mon.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update ceph development scripts
  tools/deployment/common/deploy-k8s-kubeadm.sh
  tools/deployment/developer/ceph/000-install-packages.sh
  tools/deployment/developer/ceph/010-deploy-k8s.sh
  tools/deployment/developer/ceph/011-deploy-k8s-kubeadm.sh
  tools/deployment/developer/ceph/020-setup-client.sh
  tools/deployment/developer/ceph/030-ingress.sh
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update oslo messaging get_transport
  nova/Chart.yaml
  nova/templates/bin/_health-probe.py.tpl
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[DATABASE] Maintain minimum given number of backups
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/scripts/db-backup-restore/_backup_main.sh.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-mon] Correct configmap names for all resources
  ceph-mon/Chart.yaml
  ceph-mon/templates/deployment-mgr.yaml
  ceph-mon/templates/deployment-moncheck.yaml
  ceph-mon/templates/job-bootstrap.yaml
  ceph-mon/templates/job-keyring.yaml
  ceph-mon/templates/job-storage-admin-keys.yaml
  releasenotes/notes/ceph-mon.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Remove warnings in ceph documentation
  doc/source/install/developer/deploy-with-ceph.rst
Due: none

Add values for backoffLimit and restartPolicy in rally
  rally/Chart.yaml
  rally/templates/job-run-task.yaml
  rally/values.yaml
  releasenotes/notes/rally.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Add Xena check jobs
  zuul.d/jobs-openstack-helm.yaml
  zuul.d/project.yaml
Due: openstack-helm-infra-functional, openstack-helm-horizon-train-ubuntu_bionic, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[CEPH] Less agressive checks in mgr deployment
  ceph-client/Chart.yaml
  ceph-client/templates/bin/_helm-tests.sh.tpl
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-mon] Release-specific ceph-templates configmap name
  ceph-mon/Chart.yaml
  ceph-mon/templates/configmap-templates.yaml
  ceph-mon/templates/job-keyring.yaml
  ceph-mon/templates/job-storage-admin-keys.yaml
  releasenotes/notes/ceph-mon.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-client] More robust naming of clusterrole-checkdns
  ceph-client/Chart.yaml
  ceph-client/templates/deployment-checkdns.yaml
  releasenotes/notes/ceph-client.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix infinite recursion deadlock on netns cleanup
  neutron/Chart.yaml
  neutron/templates/bin/_neutron-netns-cleanup-cron.py.tpl
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-bandit, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

ingress: Add option to assign VIP as externalIP
  ingress/Chart.yaml
  ingress/templates/service-ingress.yaml
  ingress/values.yaml
  releasenotes/notes/ingress.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[ceph-mgr] Prevents repeated creation of ceph-mgr service account
  ceph-mon/Chart.yaml
  ceph-mon/templates/deployment-mgr.yaml
  ceph-mon/values.yaml
  releasenotes/notes/ceph-mon.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix elasticsearch cronjob rendering
  elasticsearch/Chart.yaml
  elasticsearch/templates/cron-job-curator.yaml
  elasticsearch/templates/cron-job-verify-repositories.yaml
  releasenotes/notes/elasticsearch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix elasticsearch-data shutdown
  elasticsearch/Chart.yaml
  elasticsearch/templates/bin/_elasticsearch.sh.tpl
  releasenotes/notes/elasticsearch.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[DATABASE] MariaDB de-clustering
  mariadb/Chart.yaml
  mariadb/templates/bin/_readiness.sh.tpl
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix comparison error with mariadb and helm v3
  mariadb/Chart.yaml
  mariadb/templates/bin/_readiness.sh.tpl
  releasenotes/notes/mariadb.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Host of compute ironic service equals pod name.
  nova/Chart.yaml
  nova/templates/statefulset-compute-ironic.yaml
  releasenotes/notes/nova.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Exec libvirt even when creating secrets
  libvirt/Chart.yaml
  libvirt/templates/bin/_libvirt.sh.tpl
  releasenotes/notes/libvirt.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for placement
  placement/Chart.yaml
  placement/templates/deployment.yaml
  placement/templates/job-db-drop.yaml
  placement/templates/job-db-init.yaml
  placement/templates/job-db-migrate.yaml
  placement/templates/job-db-sync.yaml
  placement/templates/job-image-repo-sync.yaml
  placement/templates/job-ks-endpoints.yaml
  placement/templates/job-ks-service.yaml
  placement/templates/job-ks-user.yaml
  placement/values.yaml
  releasenotes/notes/placement.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

[DATABASE] Code improvement
  helm-toolkit/Chart.yaml
  helm-toolkit/templates/scripts/db-backup-restore/_backup_main.sh.tpl
  releasenotes/notes/helm-toolkit.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for neutron
  neutron/Chart.yaml
  neutron/templates/daemonset-bagpipe-bgp.yaml
  neutron/templates/daemonset-dhcp-agent.yaml
  neutron/templates/daemonset-l2gw-agent.yaml
  neutron/templates/daemonset-l3-agent.yaml
  neutron/templates/daemonset-lb-agent.yaml
  neutron/templates/daemonset-metadata-agent.yaml
  neutron/templates/daemonset-netns-cleanup-cron.yaml
  neutron/templates/daemonset-ovs-agent.yaml
  neutron/templates/daemonset-sriov-agent.yaml
  neutron/templates/deployment-ironic-agent.yaml
  neutron/templates/deployment-server.yaml
  neutron/templates/job-bootstrap.yaml
  neutron/templates/job-db-drop.yaml
  neutron/templates/job-db-init.yaml
  neutron/templates/job-db-sync.yaml
  neutron/templates/job-image-repo-sync.yaml
  neutron/templates/job-ks-endpoints.yaml
  neutron/templates/job-ks-service.yaml
  neutron/templates/job-ks-user.yaml
  neutron/templates/job-rabbit-init.yaml
  neutron/templates/pod-rally-test.yaml
  neutron/values.yaml
  releasenotes/notes/neutron.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for keystone
  keystone/Chart.yaml
  keystone/templates/cron-job-credential-rotate.yaml
  keystone/templates/cron-job-fernet-rotate.yaml
  keystone/templates/deployment-api.yaml
  keystone/templates/job-bootstrap.yaml
  keystone/templates/job-credential-cleanup.yaml
  keystone/templates/job-credential-setup.yaml
  keystone/templates/job-db-drop.yaml
  keystone/templates/job-db-init.yaml
  keystone/templates/job-db-sync.yaml
  keystone/templates/job-domain-manage.yaml
  keystone/templates/job-fernet-setup.yaml
  keystone/templates/job-image-repo-sync.yaml
  keystone/templates/job-rabbit-init.yaml
  keystone/values.yaml
  releasenotes/notes/keystone.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for ironic
  ironic/Chart.yaml
  ironic/templates/deployment-api.yaml
  ironic/templates/job-bootstrap.yaml
  ironic/templates/job-db-drop.yaml
  ironic/templates/job-db-init.yaml
  ironic/templates/job-db-sync.yaml
  ironic/templates/job-image-repo-sync.yaml
  ironic/templates/job-ks-endpoints.yaml
  ironic/templates/job-ks-service.yaml
  ironic/templates/job-ks-user.yaml
  ironic/templates/job-manage-cleaning-network.yaml
  ironic/templates/job-rabbit-init.yaml
  ironic/templates/statefulset-conductor.yaml
  ironic/values.yaml
  releasenotes/notes/ironic.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for heat
  heat/Chart.yaml
  heat/templates/cron-job-engine-cleaner.yaml
  heat/templates/cron-job-purge-deleted.yaml
  heat/templates/deployment-api.yaml
  heat/templates/deployment-cfn.yaml
  heat/templates/deployment-cloudwatch.yaml
  heat/templates/deployment-engine.yaml
  heat/templates/job-bootstrap.yaml
  heat/templates/job-db-drop.yaml
  heat/templates/job-db-init.yaml
  heat/templates/job-db-sync.yaml
  heat/templates/job-image-repo-sync.yaml
  heat/templates/job-ks-endpoints.yaml
  heat/templates/job-ks-service.yaml
  heat/templates/job-ks-user-domain.yaml
  heat/templates/job-ks-user-trustee.yaml
  heat/templates/job-ks-user.yaml
  heat/templates/job-rabbit-init.yaml
  heat/templates/job-trusts.yaml
  heat/templates/pod-rally-test.yaml
  heat/values.yaml
  releasenotes/notes/heat.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for glance
  glance/Chart.yaml
  glance/templates/deployment-api.yaml
  glance/templates/job-bootstrap.yaml
  glance/templates/job-clean.yaml
  glance/templates/job-db-drop.yaml
  glance/templates/job-db-init.yaml
  glance/templates/job-db-sync.yaml
  glance/templates/job-image-repo-sync.yaml
  glance/templates/job-ks-endpoints.yaml
  glance/templates/job-ks-service.yaml
  glance/templates/job-ks-user.yaml
  glance/templates/job-metadefs-load.yaml
  glance/templates/job-rabbit-init.yaml
  glance/templates/job-storage-init.yaml
  glance/templates/pod-rally-test.yaml
  glance/values.yaml
  releasenotes/notes/glance.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for cinder
  cinder/Chart.yaml
  cinder/templates/cron-job-cinder-volume-usage-audit.yaml
  cinder/templates/deployment-api.yaml
  cinder/templates/deployment-backup.yaml
  cinder/templates/deployment-scheduler.yaml
  cinder/templates/deployment-volume.yaml
  cinder/templates/job-backup-storage-init.yaml
  cinder/templates/job-bootstrap.yaml
  cinder/templates/job-clean.yaml
  cinder/templates/job-create-internal-tenant.yaml
  cinder/templates/job-db-drop.yaml
  cinder/templates/job-db-init.yaml
  cinder/templates/job-db-sync.yaml
  cinder/templates/job-image-repo-sync.yaml
  cinder/templates/job-ks-endpoints.yaml
  cinder/templates/job-ks-service.yaml
  cinder/templates/job-ks-user.yaml
  cinder/templates/job-rabbit-init.yaml
  cinder/templates/job-storage-init.yaml
  cinder/templates/pod-rally-test.yaml
  cinder/values.yaml
  releasenotes/notes/cinder.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for ceilometer
  ceilometer/Chart.yaml
  ceilometer/templates/daemonset-compute.yaml
  ceilometer/templates/daemonset-ipmi.yaml
  ceilometer/templates/deployment-api.yaml
  ceilometer/templates/deployment-central.yaml
  ceilometer/templates/deployment-collector.yaml
  ceilometer/templates/deployment-notification.yaml
  ceilometer/templates/job-bootstrap.yaml
  ceilometer/templates/job-db-drop.yaml
  ceilometer/templates/job-db-init-mongodb.yaml
  ceilometer/templates/job-db-init.yaml
  ceilometer/templates/job-db-sync.yaml
  ceilometer/templates/job-image-repo-sync.yaml
  ceilometer/templates/job-ks-endpoints.yaml
  ceilometer/templates/job-ks-service.yaml
  ceilometer/templates/job-ks-user.yaml
  ceilometer/templates/job-rabbit-init.yaml
  ceilometer/templates/pod-rally-test.yaml
  ceilometer/values.yaml
  releasenotes/notes/ceilometer.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for barbican
  barbican/Chart.yaml
  barbican/templates/deployment-api.yaml
  barbican/templates/job-bootstrap.yaml
  barbican/templates/job-db-drop.yaml
  barbican/templates/job-db-init.yaml
  barbican/templates/job-db-sync.yaml
  barbican/templates/job-image-repo-sync.yaml
  barbican/templates/job-ks-endpoints.yaml
  barbican/templates/job-ks-service.yaml
  barbican/templates/job-ks-user.yaml
  barbican/templates/job-rabbit-init.yaml
  barbican/templates/pod-test.yaml
  barbican/values.yaml
  releasenotes/notes/barbican.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Enable taint toleration for aodh
  aodh/Chart.yaml
  aodh/templates/cron-job-alarms-cleaner.yaml
  aodh/templates/deployment-api.yaml
  aodh/templates/deployment-evaluator.yaml
  aodh/templates/deployment-listener.yaml
  aodh/templates/deployment-notifier.yaml
  aodh/templates/job-bootstrap.yaml
  aodh/templates/job-db-drop.yaml
  aodh/templates/job-db-init.yaml
  aodh/templates/job-db-sync.yaml
  aodh/templates/job-image-repo-sync.yaml
  aodh/templates/job-ks-endpoints.yaml
  aodh/templates/job-ks-service.yaml
  aodh/templates/job-ks-user.yaml
  aodh/templates/job-rabbit-init.yaml
  aodh/templates/pod-aodh-test.yaml
  aodh/values.yaml
  releasenotes/notes/aodh.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Fix indentation
  prometheus-blackbox-exporter/Chart.yaml
  prometheus-blackbox-exporter/templates/deployment.yaml
  releasenotes/notes/prometheus-blackbox-exporter.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Update k8s install page
  doc/source/install/developer/kubernetes-and-common-setup.rst
Due: none

Fix invalid fields in values for postgresql
  postgresql/Chart.yaml
  postgresql/values.yaml
  releasenotes/notes/postgresql.yaml
Due: openstack-helm-infra-functional, openstack-helm-infra, openstack-helm-infra-tenant-ceph, openstack-helm-infra-ubuntu, openstack-helm-infra-centos, openstack-helm-infra-fedora, openstack-helm-infra-aio-logging, openstack-helm-infra-aio-monitoring, openstack-helm-infra-aio-network-policy, openstack-helm-infra-apparmor, openstack-helm-infra-openstack-support, openstack-helm-infra-five-ubuntu, openstack-helm-infra-five-centos, openstack-helm-infra-five-fedora, openstack-helm-infra-kubernetes-keystone-auth, openstack-helm-infra-elastic-beats, openstack-helm-infra-armada-deploy, openstack-helm-infra-armada-update-uuid, openstack-helm-infra-armada-update-passwords, openstack-helm-infra-airship-divingbell, openstack-helm-infra-aio-podsecuritypolicy

Path conditions:
  openstack-helm-infra-functional: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-bandit: any of: ^.*\.py\.tpl$, ^.*\.py$
  openstack-helm-horizon-train-ubuntu_bionic: any of: ^horizon/.*$, ^zuul\.d/.*$, ^tools/deployment/component/horizon/.*$
  openstack-helm-infra: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-tenant-ceph: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-logging: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-monitoring: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-network-policy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-apparmor: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-openstack-support: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-centos: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-five-fedora: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-kubernetes-keystone-auth: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-elastic-beats: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-deploy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-uuid: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-armada-update-passwords: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-airship-divingbell: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
  openstack-helm-infra-aio-podsecuritypolicy: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$
